[2021-11-13 21:17] digitaldan opened #1 "1.0 Milestone release TODO"
Lets create a list of things we need to get done before we consider this ready. Please feel free to add/modify and comment as needed.

- [x] Change package name to @oh
- [x] Publish to NPM
- [x] Add webpack target
- [x] Remove openHAB 1.x/2.x code
- [ ] Improve README for users
- [x] Implement missing triggers
- [x] Get TravisCI Working again
- [x] Get tests passing

[2021-11-13 21:45] jpg0 commented on #1
@digitaldan I've just realised that originally I also created https://github.com/jpg0/ohj-support to supply a few bits that I needed for the JS library that were not in openHAB itself. I believe that the bulk of it is no longer required, but I'd suggest that any dependency outside openHAB itself should be removed (or the support for it moved into openHAB).

[2021-11-13 22:19] digitaldan commented on #1
Sounds good, afaik i have been running ohj with only small tweaks without that addon and everything worked great.  I'm just now submitting a few PR's with my changes.  If you could review them and give me feedback, that would be awesome.  Also I would love to hear what you think needs to be done to get this to 1.0 ?  I'll probably open tickets up if i have questions in the code.  Thanks for all th

[2021-11-14 09:55] jpg0 commented on #1
Something to think about for 1.0 - what to do with the fluent stuff?

My personal view is that the existing rule definition API is too verbose. Well, my use-case is that I want a script with (for example) timing schedules, or button rules, but with **one rule per line**. This is simple with the fluent API. My view of there this should go (and actually what I use now, although not in JS) is a conve

[2021-11-14 09:58] jpg0 commented on #1
Another thing which is probably more future direction rather than API: should all native Java objects be wrapped? This is the approach that I have taken because of various wonky incompatibilities and idiosyncrasies between JS and the Java objects, but this approach was not universally supported by others as it leads to adding functionality in JS rather than Java (where it's available to all langua

[2021-11-14 17:44] digitaldan commented on #1
I was thinking to leave it in for now, i have been updating it as i add new trigger types, and i agree it makes writing rules more concise.  One feature i wanted to discuss was being able to supply an optional name to fluent rules, technically this is not a problem, but I struggled with what to call it, and where to put it in the fluent syntax that was not awkward.

 yeah, having one way would mak

[2021-11-15 10:10] jpg0 commented on #1
The lack of names in the fluent stuff I completely agree with. This also bothered me, and the existing name generation stuff isn't great. For adding the name, I'd suggest either something at the end `...named(<name>)`, or something at the start `rule(<name>).when(...` (or both). Something else that has also bothered me is the reliance on `with`, which is deprecated in JS (interestingly because it

[2021-11-15 15:34] simonihmig opened #3 "Polyfills to replicate node.js globals"
I was trying to make the popular [xstate](https://xstate.js.org/) library work in an (file-based) automation rule (for which it is super useful btw!). But it failed in multiple, hard to debug ways, as the GraalVM environment is not quite the same environment as node (or the browser):
* it expects to have a `global` object where alls globally defined variables live (which was introduced by node.js)

[2021-11-15 17:44] digitaldan commented on #3
Funny, i already started doing this as well :-)  After realizing after several days of trying that there was no way of redirecting console log output in GraalJS (short of redirecting stderr and stdout for the whole JVM, and i tried everything), i conceded  i needed to poly fill this, actually one of the GrallJS developers recommended this on their forum.  My thoughts here is the first thing most p

[2021-11-15 18:24] digitaldan commented on #1
Agreed.  So for example,
`when(timeOfDay("SUNSET")).then(sendOn().toItem("KitchenLight"));`
how would you propose to reference `timeOfDay` and `sendOn` ?

[2021-11-15 23:58] simonihmig commented on #3
@jpg0 any thoughts on where polyfills like those should go, into this lib or the addon itself?

@digitaldan This is cool! Much more feature complete than my first "make it work" attempt. But I wonder how you use it, as it seems you are exporting an alternative console object that you would have to import to use it. Which is fine for your own code. But what about 3rd party npm packages using `conso

[2021-11-16 04:09] digitaldan commented on #3
I was thinking from a simple scripting perspective, but you are right, there's going to be odd output in the karaf console/cli right now if  npm packages try to use any of the console logging (this is where stdout goes).   Should the JSScripting binding provide certain builtins like console.log and  setTimeout?  I would vote yes, my guess is there is a certain level of functionality we should prov

[2021-11-16 19:14] jpg0 commented on #3
Yes, I'm a big supporter of adding polyfills with the intention to make the openHAB environment as close as possible to standard JS... which is pretty much either what is supported in browsers or NodeJS. So anything which increases compatibility with these I believe should just be there. So I also vote for making them available in the runtime, rather than needing to be imported.

[2021-11-16 19:17] jpg0 commented on #1
It would have to be chained:

`when().timeOfDay("SUNSET").then().sendOn().toItem("KitchenLight");`

I'm not sure if that would cause problems for other expressions or not (oh and the function invocations could be avoided to instead do `when.timeOfDay(...` if it makes it more readable).

[2021-11-18 18:45] digitaldan commented on #1
That makes sense, so `when()` would return a condition object/chain, and then calling `then()` on the last condition would return a command object/chain.

Just to coordinate, is this something you want to tackle?  😄

[2021-11-19 17:17] jpg0 commented on #3
No I don't: go for it

[2021-11-19 17:42] simonihmig commented on #3
I would have been able to provide a PR to this library, but contributing to Java code (as we agreed to add the polyfills to the addon) is beyond my pay grade! :wink:

Here is what I currently have as my `polyfills.js`, in case that helps:

[code]

The `console` polyfill is obviously largely incomplete. But `setTimeout`, `clearTimeout` and the global objects proved to be helpful. `setInterval` is m

[2021-11-19 19:22] digitaldan commented on #3
Thanks @simonihmig , thats a great place to start.

I just tried out the `js.commonjs-global-properties` option and it does indeed do we we want.

@jpg0 there is one issue i'm facing, i'm assuming the globals properties is being loaded in the global context, so if we want to be able to include any of the @runtime OH builtins we need your require injection logic.  Problem is i can't seem to inject

[2021-11-19 20:37] digitaldan commented on #3
Honestly i'm not sure how much we get using the built in global property loader vs just calling `eval()` of our global file before we call `eval()` of the user script.

It seems like GraalVM is calling `eval()`  on the "js.commonjs-global-properties"  file for every script execution , so if we don't need to use this,  my question to @jpg above would not apply.  Since we are setting values on the G

[2021-11-19 22:40] digitaldan commented on #3
Here's a link to what i have been using.  This also is loaded as a normal node module, so if you have `@global.js` in your personal folder, it will pick that up first before defaulting to the one from the binding.  This makes development pretty nice, and allows power users to override any of it .

https://github.com/digitaldan/openhab-addons/blob/91e10330b25397a84e6c1c8c44fdfe602b746933/bundles/or

[2021-11-20 17:23] jpg0 commented on #3
I have no problem with just eval'ing the setup stuff before the script is run. Just ensure that it works across modules - for example the 'wraprequire' stuff needs injecting for each module.

[2021-11-20 17:26] jpg0 commented on #1
Yes, that is correct. Also I apologise that it's not something that I want to work on: I first need to get the add-on to run scripts from `<openhab-config>/automation/js` and modules the `node_modules` subdirectory of it. I have had no time to devote to this (super busy right now) but I regard it as top priority as it will force a migration for existing scripts.

[2021-11-20 17:31] digitaldan commented on #3
Sounds good @jpg0 , thanks for the feedback.  I'm still getting comfortable with GraalVM, and do not have your level of understanding of it, so very much appreciate your thoughts on the matter.  I'll probably open up a PR soon for the binding and at least have a place to start a discussion around it.  While it's working for me now, it may not be the most optimal solution.

FYI, if i seem rather ac

[2021-11-20 17:53] jpg0 commented on #3
Also it's great that you are very active on the project - I am quite happy for you to take the lead as I have little time to spend on it, but am just happy that I've been able to donate the existing code and it will be used!

[2021-11-20 18:17] digitaldan commented on #1
Totally understand, i can give it a shot this week.  I agree that deprecating the `jsr232` path would be nice!

[2021-11-20 19:46] jpg0 commented on #1
The main reasons that I want to deprecate it are:
* It's not compatible with existing tooling (which expects modules to be in `node_modules`)
* It currently looks at `lib/javascript/personal`, not community etc, so isn't really compatible with the existing languages either

[2021-11-22 23:32] digitaldan commented on #1
@jpg I have a first pass at moving fluent to what i'm calling the "Rule Builder" ,  you can see my branch at https://github.com/digitaldan/openhab-js/tree/rule-builder/rules , i combined the builder  with the existing rules logic which remains untouched,  So a rule might look like:

[code]

or passing in a function and using a rule group:
[code]

the builder is exposed by calling `rules.when()`  ,

[2021-12-01 19:51] rkoshak opened #15 "Importing rules, items, and actions fail"
I'm running the snapshot of OH from Monday and I've installed the helper library using npm following the instructions in the readme. I've included at the top of my script per the readme

    const {rules, items, things, log, triggers, actions, metadata, osgi} = require('openhab');

I'm pretty sure I don't have the changes yet that injects that for me.

I get the following error when `rules` and `i

[2021-12-01 20:07] rkoshak commented on #15
Since I'm not doing anything that involves the ItemBuilderFactory nor the ManagedItemProvider I commented that part of the code out and it seems to work well enough to get past this hurdle temporarily.

[2021-12-01 20:13] digitaldan commented on #15
I have seen this on a fresh OH install, but not my production one which is very strange.  I'll take a look at it again.

[2021-12-01 20:29] digitaldan commented on #15
[code]

This is also from a snapshot download, not sure what has changed.

[2021-12-01 20:37] rkoshak commented on #15
Not to add to the woes but I'm also see the following when trying to access a Metadata value through the library.

[code]

[2021-12-01 21:25] digitaldan commented on #15
well, i think i found probably what's causing this to fail in JS

On my production machine running ` 3.2.0-SNAPSHOT - Build #2581` the following code:
[code]
produces:
[code]

On a more recent milestone release, it outputs nothing.  So something has changes with these globals.

[2021-12-01 22:34] rkoshak opened #16 "log not working consistently in UI rules"
I have one rule with a script action:

[code]

Works like a champ.  But one thing that is unique about this rule is that it's run from another rule or run manually.

    2021-12-01 15:30:07.334 [WARN ] [script.js.alarm                     ] - The alarm went off but it's not BED or NIGHT           [Alarm at source <unknown>, line 53]

In this script action, however, the logger does nothing.

[code]

[2021-12-01 22:44] rkoshak commented on #16
Never mind, needed to add

[code]

to log4j2.xml.

However, most users should not have to do this so I'd recommend that a namespace already logged out by OH (e.g. `org.openhab.model.script` ) be used instead of `script.js`) or have `script` added to the default log4j2.xml file. UI users will not know nor be happy if a stock OH install doesn't log properly.

I can't explain why my first rule worked

[2021-12-01 22:44] #16 closed

[2021-12-01 22:45] digitaldan commented on #15
Ok, well looks like i had installed https://github.com/jpg0/ohj-support some time ago and forgot about it, so this was providing the missing bits.  Let me see if we can do without is or if some of that needs to go into the JSScripting binding

[2021-12-01 22:54] digitaldan commented on #15
@jpg0  looks like i had your ohj-support library installed and forgot about it, it looks like this may be required.  Do you see a way around this?  or should we combine this code into the JSScripting binding ?

[2021-12-01 23:33] digitaldan commented on #15
So i added in most of the classes untouched from https://github.com/jpg0/ohj-support  into the binding and everything works again.  @jpg these seem to be reasonable additions , so i don't have any problems added them if you are ok?  (i removed the sitemap support as well as the suspendible rule support as i did not see them used)

[2021-12-01 23:37] digitaldan commented on #16
Yeah, i have in the list of TODO's on https://github.com/openhab/openhab-addons/pull/11656 to add something to openhab-core default xml log config like `org.openhab.model.script` with default level of `DEBUG` (since only user scripts should be using it)

[2021-12-02 12:18] jpg0 commented on #15
I have no problem with them being included.

Note that they are all fairly generic things though, so should probably be moved to the core scripting bundle rather than a language-specific one. I originally had them in the JS bundle for expediency, then moved them out to ohj-support so that the JS bundle remained as clean as possible for acceptance into openhab-addons.

[2021-12-02 12:28] jpg0 commented on #16
FYI I originally chose that shorter namespace for scripts because it seemed simpler and also allowed some level of disambiguation from logs coming from openHAB code, making it much easier to immediately see _your_ logs rather than others. The assumption was that they would be `script.<language>.<filename>`. I have no problem with reverting back to the standard OH namespaces though.

[2021-12-02 15:30] digitaldan commented on #15
Sounds good, It looks like only the OSGiScriptExtensionProvider class and supporting classes for it are required?  I think everything else is being provided by openHAB core? Does this sound right ?

[2021-12-02 15:34] digitaldan commented on #15
Providing this in core would also solve https://github.com/openhab/openhab-core/issues/2173 as well, yes?

[2021-12-02 15:50] rkoshak opened #17 "actions.js is missing some core actions"
The currently missing actions include:

Audio, BusEvent, Ephemeris, Semantics,  and Voice.

https://www.openhab.org/javadoc/latest/org/openhab/core/model/script/actions/package-summary.html

[2021-12-02 19:13] rkoshak opened #18 "Docs Improvements"
I want to discuss improvements to the docs before I start to make changes in a PR.

I've converted a number of my rules over to using the library, at least those that I could do without the factories stuff that isn't working (see #15).

My current ideas include (in no particular order):

1. [ ]  Add instructions to enable logging in log4j2.xml (or change the logger namespace to use one that will b

[2021-12-03 22:15] #17 closed

[2021-12-03 22:35] digitaldan commented on #18
So i was thinking about opening a PR to add
[code]
to the openhab distribution log4j2.xml file seen here:
https://github.com/openhab/openhab-distro/blob/dd6712ad66234fb687849971a5feaf3e7f0b69e7/distributions/openhab/src/main/resources/userdata/etc/log4j2.xml

But now i'm thinking, should user script logs be going to their own file?  Like events do?  I don't have a strong preference either way.   A

[2021-12-04 09:48] jpg0 commented on #18
One nice thing about using the main log is that sometimes scripts trigger errors in other components - for example accidentally passing a null into a framework class. If this happens, the error will be logged in the main log, so the danger of another log file is that script writers may end up needing to use both anyway.

[2021-12-04 16:14] digitaldan commented on #18
Thats a good point, i think i'll stick with the main openhab log.

[2021-12-05 00:04] digitaldan commented on #18
https://github.com/openhab/openhab-distro/pull/1340

[2021-12-05 22:01] digitaldan commented on #18
FYI, i have the actual API docs now being generated anytime we push to master.  These still need to be cleaned up, but it's a start.

https://openhab.github.io/openhab-js/openhab/0.0.1-beta.1/index.html

[2021-12-05 22:57] Confectrician commented on #18
Do you want to include the docs into general openhab docs at some point?

I am currently working on a GitHub action based solution for openHABian docs, to get them fetched indipendent from our Jenkins ci.

Goal is to trigger a redeploy based on a release of an external repo like openHABian.
This way we want to ensure a up to date stable documentation for parts that have shorter release cycles then

[2021-12-05 23:06] digitaldan commented on #18
Thanks @Confectrician  for the idea, i think at some point yes, we will want to push the README, or at least part of it minus the JavaScript API docs that get generated (they are very verbose), right now its a little bit of a mess (my fault) :-)

[2021-12-05 23:07] digitaldan commented on #18
FYI openhab/openhab-distro#1340 was merged which is great.

[2021-12-07 20:50] rkoshak commented on #18
Sorry I'm late to the party. In addition to the error log correlation, it has pretty much always been the case that rules log to openhab.log by default so it would be more expected that it would continue to do so. It would also have fewer impacts on those running openHABian which deploys Frontail to view the logs in the browser. There would need to be changes made to that config to pick up the rul

[2021-12-07 21:20] rkoshak opened #24 "Item.getMetadataValue fails with TypeError"
The same error is generated with other metadata calls on an OHItem.

The exception is:

[code]

It seems to be complaining that the MetadataRegistry doesn't have a `get` method.

Looking more closely it appears that the code only `Java.type` the MetadataRegistry class which will bring in the class but it won't instantiate it. `get()` exists on the MetadataRegistry but it's not static so we need to

[2021-12-07 21:51] rkoshak opened #26 "itemhistory.js only works with the default persistence"
There is no way to pass the name of the persistence service we want to query. By default, OH 3 ships with rrd4j installed and configured as the default persistence. However, because it saves a value every minute, the calls to `previousState` and `latestState` are almost certainly not going to be what you want.

Furthermore, they don't actually return the HistoricState Object which contains both th

[2021-12-08 10:33] jpg0 commented on #26
I would certainly support exposing the raw Java objects, although I'd suggest a small test first - some of these areas I originally implemented just enough to get my rules running, and sometimes I did it because I have problems using the raw Java directly, so let's just make sure that it works well from JS. Typically the problems that arose when using Java objects directly were translation issues

[2021-12-08 15:53] rkoshak commented on #24
Oops, this was fixe by #25 . I'll close it.

[2021-12-08 15:53] #24 closed

[2021-12-08 15:57] rkoshak commented on #15
This appears to have been fixed in the latest version of the add-on (https://github.com/openhab/openhab-core/issues/2433#issuecomment-987194644). I'll close it but if I'm wrong and it covers other stuff not yet fixed please feel free to reopen it.

[2021-12-08 15:57] #15 closed

[2021-12-12 15:29] digitaldan commented on #3
closing as we have a pretty robust polyfil now in the proposed binding.

[2021-12-12 15:29] #3 closed

[2021-12-12 16:20] digitaldan commented on #26
Just looking at this now, there are a lot of methods as well we are not exposing from:

https://www.openhab.org/javadoc/latest/org/openhab/core/persistence/extensions/persistenceextensions

Curious if we want to maybe expose these on items in a slightly different way,

[code]

And also expose all the methods listed in the persistenceextensions?

[2021-12-12 18:48] jpg0 commented on #26
Do we need both `history` and `historicState` chained? Can't we have a single call (`item.history` vs. `history(...)` or `history[...]`)?

[2021-12-12 19:22] digitaldan commented on #26
I just opened #27 , this adds all the persistence methods directly on the OHitem  and exposes an optional persistance id, let me know what you think.  I include a screen shot in that PR of a snippet of what the outputed docs looks like

[2021-12-13 08:43] jpg0 commented on #1
Regarding the rule builder, do you think that it would be possible to allow providing the name at the start of the chain?

`rule.of("TestFluent3").when().item("F1_DansOffice_Light").changed().then().send("changed").toItem("Echo_Dans_Office_TTS");`

Or similar? I ask because when I look at my rules I really want the name at the start as it's much simpler to parse a long block of these type of rules

[2021-12-13 08:47] jpg0 commented on #1
@digitaldan something else to think about, not sure if it's a 1.0 thing or not, but I have certainly been asked about it:
- The current addon does not attempt to replace JS transforms at all - they still run in Nashorn

I think that incremental migration would be hard here (at they are just prefixed with `JS:`), but we could either register a new (temporary) prefix, or provide a configuration togg

[2021-12-13 11:23] BobSilent commented on #1
- would it be possible to also specify an optional Description or part of the description text?
description is an autogenerate text, which is partially nice, but in my case it says e.g.
`item <itemname> changed→custom function`
- can the automatic generated ruleUID improved, e.g. add JS Filename instead of repeating description? e.g. `File_<filenameWithoutExtension>_<uid, maybe only 9chars like ui

[2021-12-13 16:32] digitaldan commented on #1
I started off trying to do it this way actually, but the problem i faced is how to "end" the builder chain, i'm not sure how to know  when the chain is finished so we can execute it without using something like `build()`, do you have an idea on how this might work ?  I figured if we had to have `build` it might as well take the name/description and save a step.

Hmm i have not looked at that at al

[2021-12-13 17:12] digitaldan commented on #18
Well, our binding was accepted into 3.2 , so that means we need to get our documentation going asap!

[2021-12-14 00:23] digitaldan commented on #26
this has been merged

[2021-12-14 00:23] #26 closed

[2021-12-14 00:24] digitaldan commented on #18
Fyi latest docs are at https://openhab.github.io/openhab-js/openhab/1.2.0/index.html

I realize there is much to be desired with these, so its something i'll try working on , i would really like to autogenerate our docs from code as much as we can.

[2021-12-14 18:46] digitaldan opened #32 "Expose ZonedDateTime"
I feel like `ZonedDateTime` , and to a lessor extent `Duration` will be needed in rules.  Native JS Dates just don't have the functionality built in.

I'm curious what others thoughts are about where this would live?  On the `utils` namespace?  On its own ?

[2021-12-14 19:19] jpg0 commented on #32
I have not had the need to use ZonedDateTime (my house is only in a single TZ! :-P), but instead of Duration I used some native JS libraries. Even if you do add some ability to interop with these classes, you are still likely to need to work with JS dates too if you want to support existing JS libs.

[2021-12-14 21:10] digitaldan commented on #32
Yeah, and you can use a JS Date where ever a ZoneDateTime object is needed (GrallVM converts it), but doing simple things like adding time (now + 24 hours) is a pain without 3rd party libraries.  So trying to figure out the best out of the box experience for dealing with this.

[2021-12-14 21:16] Confectrician commented on #32
Isn't ZonedDateTime already the prefferd solution according to the examples/tutorials/questions one can find in the community forum?

Maybe then it would be awesome to have something available that users already are familiar with.

[2021-12-15 09:39] jpg0 commented on #32
Whilst this is _currently_ true, isn't it because historically users were _forced_ to do this? I would expect that JS script writers would be more familiar with a pure JS solution rather than a Java-based one? Saying this, I do agree that we need some sort of ZonedDateTime support, but primarily for migration and interop, rather than actually handling date manipulations and calculations in new JS

[2021-12-15 15:07] digitaldan commented on #32
So the question is where does something like this live?  In utils?  exported directly like `items` or `actions` ?

Ideally something like [luxon](https://github.com/moment/luxon/) would be available as an alternative to ZoneDateTime and the native Date, but i'm not sure of the ramifications of including that ( size, complexity, interoperability, etc....)

[2021-12-15 15:21] jpg0 commented on #32
Personally I am not a fan of trying to include things like this. What if the library becomes deprecated (like moment.js), or other, better alternatives become more popular? My view is that we should ensure we handle interop with JS Dates (and probably epoch-seconds), then let script writers choose their date library.

I do understand that this makes things a bit harder for UI rules however. Maybe

[2021-12-15 16:26] Confectrician commented on #32
100% Agreed

This may be suitable for (more) advanced users, but i doubt that we will cover beginners with this.
(At least if js scripting aims to be a solution for openHAB users with all different expirience levels.)

[2021-12-15 17:27] digitaldan commented on #32
yep, thats the ramifications i am thinking about.  I also think it probably crosses a line of what is "core" and what is optional.

One thought is we could have a `time` object which basically exposes the `java.time` package which contains the following
[code]

We could provide a sane subset of these

[2021-12-15 17:48] jpg0 commented on #32
I think that is fine - just something which provides easier access to Java constructs. I think that we should avoid accepting these types in the JS API however, and use JS dates instead. Ideally we would also provide some convenience functions to convert between the two.

[2021-12-15 18:08] digitaldan commented on #32
My thinking is most of these are for interacting with ZoneDateTime, which actions and other OH native stuff needs.  I would rather prefer to use native JS Dates , which are interchangeable with ZoneDateTime, but it's truly a pain to do any time manipulation with (like create a date 2 days in the future or past) .

[2021-12-15 18:19] digitaldan commented on #32
so for example, our time.js class could be as simple as

[code]

[2021-12-15 18:49] jpg0 commented on #32
Not sure if this helps, but in my scripts I heavily used [JS-Joda](https://js-joda.github.io/js-joda/). It's a JS port of [Joda Time](https://www.joda.org/joda-time/), which was what effectively became the `java.time` package.

[2021-12-15 18:56] digitaldan commented on #32
I am aware of Joda Time, but not aware of JS-Joda, will definitely take a look!

[2021-12-15 20:16] digitaldan commented on #32
So JS-Joda looks  very nice, and would be a great drop in replacement for java.time.  If we were to consider using this despite some of the concerns above, we could probably implement our own TypeMapper in GraalVM to auto convert to and from a Java ZonedDateTime to JS-Joda ZonedDateTime.  Thoughts?  It would then be a drop in replacement.

https://www.graalvm.org/sdk/javadoc/org/graalvm/polyglot/H

[2021-12-16 16:30] digitaldan commented on #32
FYI I was able to get JS-Joda working as a drop in replacement for native ZonedDateTime with the conversion happening in the actual engine.  Here's the GraalVM conversion logic:

[code]

I'm really impressed with how strict JS-Joda is with compatibility with what is now java.time , and that it has Zero dependencies, which is very unusal in the NPM world.

I know we agreed that adding libraries can

[2021-12-16 19:01] Confectrician commented on #32
This sounds very good to me. :)

[2021-12-16 19:23] digitaldan commented on #32
see #38

[2021-12-16 21:06] digitaldan commented on #32
I just merged to get this into the milestone release, please feel free to open another issue if there are concerns or changes needed, nothing is set in stone and I'm happy to accommodate others opinions.

[2021-12-16 21:06] #32 closed

[2021-12-18 23:37] digitaldan commented on #1
@jpg0 did you have any thoughts here on ending a rule chain ?  I like your suggestion of using `of` and very curious if you have a solution.

[2021-12-19 10:04] jpg0 commented on #1
I think that there are a few options to do this:

- register the rule when the last thing is called, in this case `toItem`. This is one of the reasons for my more nested original approach, as you can do things like `then(send(..).toItem(..))` and you can do it in the `then`.
- create a new 'script complete' hook (like the script unloaded hook), and insert all the rules after the script is complete

[2021-12-20 16:17] florian-h05 opened #40 "Feature request: Updating an existing JSRule()"
Is there any way to update an existing JSRule() or to replace it with a new rule?
This would be great to update Triggers, e.g. update a cron trigger.

I would use it in one manager rule to update the triggers of a child rule or I would also be happy with just removing the child rule and then adding a new child rule.

[2021-12-20 17:08] jpg0 commented on #40
@digitaldan this request relates to what I was saying about the current behaviour that _defining a rule = inserting a rule_.

@florian-h05 this is currently possible, however you need to explicitly get hold of the RuleManager, then update the rule via it's Java APIs. This isn't a great situation, and I believe that there should be a better way.

[2021-12-20 17:54] florian-h05 commented on #40
Okay, that's complicated.
Is this something that might be added to the library?

[2021-12-21 08:17] csowada opened #41 "Idea: Rewrite library to use TypeScript ?"
I'm a fan of Visual Studio Code, Intellisense and Typescript. So the auto complete feature i not working correct with the current version.
In your eyes, does it make sense to switch the codebase to TypeScript?
I have already done this for openHAB 3.1 and would like to go back to the standard. But for the standard module I would want less features but good documentation and support for the common p

[2021-12-21 08:30] Confectrician commented on #41
Hey @csowada

This is already in discussion with a different approach of solution.

See: https://github.com/openhab/openhab-webui/pull/1237#issuecomment-997090501

[2021-12-21 08:45] csowada commented on #41
Thank you @Confectrician for the hint. It goes into the same direction to support Visual Studio Code in the best way. TypeScript is only one way to reach it.

[2021-12-21 15:42] digitaldan commented on #41
So there are two options, one is to rewrite the whole library in TS, the other is to provide Type Declarations file(s) to just provide the API interfaces of the library ( as was shown in https://github.com/openhab/openhab-webui/pull/1237#issuecomment-997090501)

This second option is an officially support one by TS, see:
https://www.typescriptlang.org/docs/handbook/declaration-files/dts-from-js.ht

[2021-12-21 15:55] Confectrician commented on #41
We can automate it and it is up to date by default, when releasing a new version.
For me there is no reason doing it the manual way then. 🙂

[2021-12-21 16:28] jpg0 commented on #40
First you need to get the rule registry. You can do this by calling `osgi.getService("org.openhab.core.automation.RuleRegistry")`.

Once you have one of these, you can call it to remove your own rule, then add a new one. The class is here: https://github.com/openhab/openhab-core/blob/79edf2b9e643ad802c31b2e5f54edb93534277fd/bundles/org.openhab.core.automation/src/main/java/org/openhab/core/automat

[2021-12-21 17:37] florian-h05 commented on #40
Thank you very much, at the moment it seems that it works when I use `const { ruleRegistry } = require('@runtime/RuleSupport');` but it does not work using `const ruleRegistry = osgi.getService("org.openhab.core.automation.RuleRegistry")`.

[2021-12-21 17:48] JamieTemple commented on #1
sorry - a bit late to the party, but wanted to chip-in my 0.5p ...

I don't have a problem with ending on `.build()` - its a pretty standard builder pattern (which I'm quite fond of!)

... also, here's my take on how things could look:

[code]

I appreciate things are out the door already (and this looks like ive spent way too much time writing unit test lately!) - feel free to ignore me ;)

[2021-12-21 18:31] csowada commented on #41
I was working on it today, but we need to adjust some js-doc comments and split files to resolve all issues. The namespaces will be ignored by TypeScript converter, but we use modules. So I see no benefit.I prefer to load the modules on my own instead of global preloaded.

[2021-12-21 18:55] digitaldan commented on #41
Thanks, thats great.  To be honest, i rushed through the JSDocs without really understanding it to get something out the door for 3.2 , but it's high on my list to improve so our docs are more readable.  I assume there would also be some changes to our namespace and class structure.

[2021-12-22 09:00] florian-h05 commented on #40
I am going to open a PR to support this directly with openhab-js.

[2021-12-22 18:25] marcinczeczko opened #45 "Issue with joda-js ZonedDateTime parser - default format not compatible with DateTimeItem state value"
I was working on the rule that uses openhab `DateTimeItem` state to get the time to schedule some timers.
However, I found strange issue that parsing the state string as it is throws joda parsing exception. I had to instantiate my own formatter to get it working. Please take a look below, but in general now idea if the problem lies in the openhab datetime format, joda-js default format or maybe oh

[2021-12-22 18:49] marcinczeczko commented on #45
Looks like openhab formats Datetimeitem state using RFC timezone https://github.com/openhab/openhab-core/blob/68ff739a506db0cf0ea464c5853b5e83dc0d3962/bundles/org.openhab.core/src/main/java/org/openhab/core/library/types/DateTimeType.java#L181, while joda-js uses ISO version of timezone.

[2021-12-22 19:21] csowada commented on #41
Here is my current status, it works with the type definition. But this is just my working branch. It contains some rubbish and test.  One problem is that the generator not create correct index.d.ts files or I'm not aware how to handle it correct. This is the reason for the ``dist-overwrite`` folder.

https://github.com/csowada/openhab-js

To start a new project just do ...

[code]

afterward creat

[2021-12-23 09:58] #40 closed

[2021-12-23 10:04] jpg0 commented on #45
This is how I have been using js-joda:

[code]

So I think that this formatter needs to be included in the openHAB-to-js-joda code, or set as the default (if possible).

[2021-12-24 13:09] csowada commented on #41
I think a TypeScript port is still a good thing. So nearly finished a TypeScript version. I found maybe so inconsistencies in the scripts. It is easier to identify null errors and wrong references as it is more strict. But the work is not finished yet, but I want to inform other that I'm working on it.

https://github.com/csowada/openhab-js/tree/ts-fork

[2021-12-24 18:20] digitaldan commented on #41
Thanks @csowada , from a language framework point of view , i'm impartial to plain ES6 vs typscript, but i wonder what others think here?  My main interests are that we have a framework that is easy to maintain, remains simple a straight forward,  and is written so others can contribute to it as easily as possible.    @jpg0  , i would very much like your thoughts on this.

[2021-12-24 18:53] csowada commented on #41
I understand that plain ES6 would be nice, but I see the advantage by a more strict framework. The code will be transpiled by tsc and can be adjusted to the GraalVMs requirements. You can still use JS for your own rules etc. And the TS overhead is nearly nothing. And we can also describe global variables and later on Java classes. I've spend much time on my previous library to support many openhab

[2021-12-26 17:16] jpg0 commented on #41
My view on this is:

- I do see technical value in Typescript; almost all teams that I have been involved with professionally that started out with JS ended up using TS. I myself ultimately leave JS when the system gets too complex as I find that I need more help from the compiler. On the flip side; I would expect most users not to be dealing with this level of complexity in scripts to need this (

[2021-12-27 10:51] csowada commented on #41
One important thing is, that normal users don't need TS, they can use JS. But VSCode can help with correct Auto Complete etc because of the advanced information.
I'll answer your questions later on, we are still in Christmas Mode :-)

[2021-12-27 17:40] marcinczeczko opened #48 "Events are not available in the rule body ?"
I tested simple rule using ECMA 2021 in OH that is triggered by Item state change. If I log the event triggering as follows
[code]
Then I'm getting the text in log
[code]
Ok, but I was struggling to get any more information other that the text in log. How to get the state to which the item was changed ?
I tried to discover builing a json string from the object props, but apparently it is empty
[co

[2021-12-27 17:53] #48 closed

[2021-12-27 17:54] marcinczeczko commented on #48
found one the way - `Objects.keys(event)`

[2021-12-27 20:49] egoist6 opened #49 "getStateAs()"
Feature request to add `getStateAs()` to item class

[2021-12-27 21:45] IcyT commented on #48
What about using `triggeringItem.state`? (Was quite hard to find out about the triggeringItem variable)

[2021-12-28 11:11] csowada commented on #41
Yes, the user can choose between JavaScript and TypeScript. When the library is built, TypeScript is translated into JavaScript. Thus, JavaScript is always used in GraalVM.

Yes, developers could also use pure JavaScript. It would also be translated with. But it would not be very useful for a library. But every JavaScript developer should understand and be able to use the used types.

Here is an e

[2021-12-28 14:15] jpg0 commented on #41
@csowada I think that verifies all my assumptions. In that case my assessment still stands - whilst there are clear technical merits, it's up to the primary person(s) maintaining the code.

[2021-12-29 17:36] csowada commented on #41
For the moment I'll stay at my own library https://github.com/csowada/openhab-jsscripting-base to bring my productive system to v3.2 . So I can focus on the other changes in 3.2 release.
I'll continue my work on a TS fork if we have a decision that TS is the way to go.

[2021-12-30 20:50] Redsandro opened #50 "add syntactic sugar to console.log"
TL;DR in **bold**.

The helpful way to initialize Nashorn ECMAScript 5 loggers is like so:

[code]

When a rule calls another rule which calls a script (e.g. using `runNow()`), the logs would show up like so:

[code]

This is very convenient, because when debugging GUI rules and scripts, you can first see if you need to go to the "rules" or "scripts" page, and second you can search for a couple of

[2021-12-31 11:17] florian-h05 commented on #50
You can initialize a custom logger in your ECMA 11 script (I think that helps):
[code]

The `console` object is not provided by the openhab-js library, it is provided by the JS Scripting add-on itself, therefore changes have to be made on the add-on.

@digitaldan @jpg0
Is it be possible to add the uid with `this.ruleUID` to the logger of `console`?

[2021-12-31 16:29] digitaldan commented on #50
So i think this is a great idea, and yes it belongs in the jsscripting binding, not here, but thats ok.  The ruleUID is injected in UI configured rules for sure, but i'm not sure about text file based rules (the global injections slightly differ).  In any case, we can at least test to see if its available and append it.  We definitely want to encourage using the console logger over using the raw J

[2021-12-31 17:07] digitaldan commented on #41
thanks for your thoughts @jpg0 .  @csowada, thanks as well.  I'm on the fence here. The thing i'm contemplating is that we are talking about converting the whole project to TS just for a single feature, intellisense support.  I understand all the other benefits of TS, i have worked on many teams that use TS either b/c  A) they are all primarily Java/Scala developers or  B) were using angular.    B

[2021-12-31 17:12] digitaldan commented on #49
We could expose this for sure on the item, what i'm not sure yet how to do is expose the possible state `Type`s  to pass into it, which include the following:
`DateTimeType, DecimalType, HSBType, OnOffType, OpenClosedType, PercentType, PlayPauseType, PointType, QuantityType, RawType, RewindFastforwardType, StringListType, StringType, UnDefType, UpDownType`

These are probably exposed via the `@Run

[2021-12-31 17:13] digitaldan commented on #45
Hmm, let me take a look

[2021-12-31 22:55] digitaldan commented on #45
So I'm thinking we could monkey patch this pretty easily like so

[code]

Thoughts on a better way ?

[2021-12-31 23:10] digitaldan commented on #45
See #51

[2022-01-01 19:37] csowada commented on #41
Hello @digitaldan,

I understand your

[2022-01-01 20:05] csowada commented on #41
Hi @digitaldan, I completely understand your concerns. All library developers have to accept this decision. But for example in my translations to TypeScript I also came across inconsistencies. There are two items, the wrapper item and the Java Native item. I think this was mixed up in places in the code.

But I don't see TypeScript and ES6/2021 in competition. It makes it much easier to implement

[2022-01-02 11:11] jpg0 commented on #49
My experience in dealing with these native types in JS was not great; I found many incompatibilities which is why I either converted to a raw JS type, or just a string.

I'm also not exactly sure what the use-cases for `getStateAs()` are?

[2022-01-02 11:15] jpg0 commented on #50
Regarding the UID, I believe that it is autogenerated for text-based rules, based on the rule context (like the name, etc).

It needs to remain the same so that when rules are reloaded they replace the existing rule rather than adding a new one (that is unless we switch to unmanaged rules by default for scripts).

[2022-01-02 11:22] jpg0 commented on #50
Oh, and regarding logger names: I always used `script.<language>.<filename>` for my code, as I found this the most concise - I agree that they should differ. One question is when to use the ruleUID versus the filename - I find for file rules it's easier with the filename. Possible a format ending with `.<filename>|ui.<ruleUID>` would be best.

Also note that I dropped the `org.openhab.` for script

[2022-01-02 18:33] egoist6 commented on #49
I am not by far the onewho could answer that question to its full scope.
I have raised this ticket due to a request of rlkoshak [here.](https://community.openhab.org/t/converting-dsl-rule-to-graaljs-script/130639)
The use case I am using it for is to get an OFF or ON state of items no matter if they are of type dimmer or on/off. This way it is possible to get all items where lights are either on o

[2022-01-02 18:49] Redsandro commented on #50
New users without prior knowledge see and are encouraged by documentation to use the UI for scripts and rules. They might not even know they can have actual files until they stumble upon a different workflow. For that reason it makes sense to use this ruleUID in logging if the user did not explicitly use a file.

That sounds like a sane compromise.

I wanted to do that too (or use use `oh.rs.` for

[2022-01-02 19:53] jpg0 commented on #49
Note that `State` already has `as(..)`, so we don't really need `getStateAs(..)` as using `state.as(..)` should give you the same result.

[2022-01-02 22:03] #45 closed

[2022-01-02 22:19] digitaldan commented on #50
FYI , script based files do inject the script file path as a global variable `javax.script.filename` , so we can definitely make this better.

[2022-01-02 23:06] egoist6 commented on #49
That's what I tried but it did not work. Here is the code:
`var OnOffType = Java.type("org.openhab.core.library.types.OnOffType");
items.getItem("gLampen").members
      .filter(i => i.state.as(OnOffType) == OnOffType.ON)
    .forEach( i => i.sendCommand("OFF"));`
I get the following error: `TypeError: i.state.as is not a function`
As you already stated, rawItem works:
`    .filter(i => i.rawItem.

[2022-01-02 23:09] digitaldan commented on #50
So ruleUID is only available in UI based rules.

I have the following logic to either use the `ruleUID` if found OR parse out the file name from the script path and use that (needs to support windows and unix, hence the regex).

[code]

 This prepends `.ui.` for UI based rules and `.file.` for file based ones.  This `scriptId` would then be appended to `org.openhab.automation.script`,  for example

[2022-01-02 23:14] digitaldan commented on #49
i think he meant `i.rawState.as(OnOffType)`

[2022-01-02 23:32] digitaldan commented on #49
If we want to implement this, i think we will need to.....

A)  for the input we will need to export `@runtime` to a variable by default as we will need the openHAB specific types to pass into a getStateAs function on the JS item class (maybe support the enum string name as well) .   So for example

[code]
or
[code]

B) The output i think can be classified into either a ENUM type (like ON, OFF, UP

[2022-01-02 23:57] digitaldan commented on #50
see https://github.com/openhab/openhab-addons/pull/11945 , please feel free to leave comments or suggestions.

[2022-01-03 00:04] florian-h05 commented on #50
Thank you for your work, LGTM!

The solution with `ui.` + `ruleUID `and `file.` + `filename` is perfect, the logger ids are absolutely clear.

[2022-01-03 10:36] jpg0 commented on #49
For A), I'd suggest creating an object called `type` (or `types`) with the types on it, so that you can use `type.OnOffType`.

For B), if we are planning to automatically coerce to JS types, then I think that we should take a deeper look at the relationship between existing openHAB and JS types, and how this is used. How many conversions do we need, and if the number is small can we do it in a mor

[2022-01-03 13:05] egoist6 commented on #49
sorry for not being clear:

- feature request: `i.Item.getStateAs(OnOffType) == ON`
- what is working today: `i.rawItem.getStateAs(OnOffType) == OnOffType.ON`
- jpg0 noted,

My response was that `i.state.as(OnOffType)` leads to an error.

May I ask you s.th. different (and I certainly will open a new ticket if required). Are you aware of the memory leak issue which arises when you run too many JS

[2022-01-03 15:44] jpg0 commented on #49
This I regard as the real bug. Whilst `rawItem` works, it's really an escape hatch to allow direct access to the Java object for cases like this temporarily until they are properly supported.

I am aware of some threads about memory leaks, but haven't really looked at any of it.

[2022-01-03 15:45] rkoshak commented on #49
@egoist6 I want to be clear I wanted the issue opened to have this conversation, not just to implement getStateAs() because I too think that the issue is deeper than just this one function. As hard as we try, we must come up with a consistent way to handle OH types in rules.

@jpg0 for one example, let's say you have a Group that is a mix of Switches, Dimmers, and Color Items and you want a list o

[2022-01-03 15:58] rkoshak commented on #41
I hope to become a contributor but I don't know how much I'll be able to take on.

Lots to learn first before I start pushing code though.

Anyway, the only thing I have to add to this is to think about who is most likely to contribute to this library. It's going to be the more technical openHAB users who do it. If switching to TypeScript puts up barriers to people whose only exposure to this stuf

[2022-01-03 16:14] egoist6 opened #53 "Memory leak"
As mentioned in the other thread I'll start a new ticket about this issue which seems to be related to JSscripting.
When changing and testing JS scripts which have syntax errors, after 10-20 runs the CPU load increases to 100% and you get the following error messages:
`2021-12-29 22:12:59.868 [WARN ] [org.eclipse.jetty.server.HttpChannel] - /rest/rules/SystemReadLog
java.lang.OutOfMemoryError: Jav

[2022-01-03 16:24] csowada commented on #41
It's important to know that TypeScript is just JavaScript + stronger Types. I'm sure that it is easy for interested people to apply changes to the library. If the whole library is transfered to TS it is more copy and paste. If you add a new function, it is just important to think about input parameters and what you will return. Specially optional and null return values are cleaner defined like @Nu

[2022-01-03 17:29] digitaldan commented on #53
Can you open this up on https://github.com/openhab/openhab-addons/issues instead ? This would be an issue with the JS scripting engine itself, not this library, thanks!

[2022-01-03 18:03] rkoshak opened #54 "time.ZonedDateTime.parse and format fails with "use locale" error"
Users will frequently come into a case where they want to convert a DateTime string to a ZonedDateTime. There is a powerful parsing capability built into time.ZonedDateTime but when trying to use it I get:

[code]

So I've tried adding to the top of my script actions:

    require('@js-joda/locale_en_us');
    require('js-joda/locale_en_us');
    require('locale_en_us');
    require('@locale_en_us

[2022-01-03 18:04] egoist6 commented on #53
done

[2022-01-03 18:04] #53 closed

[2022-01-03 18:39] digitaldan commented on #54
Duplicate of #45 ?

[2022-01-03 18:40] digitaldan commented on #53
Thanks!

[2022-01-03 19:25] rkoshak commented on #54
I'm not entirely certain. The error is different and I think the #45 fix won't work in cases where someone has some arbitrary non-ISO or RFC formatted datetime strings using locale specific names for months (for example) which I think will still fail parsing in that case.

I'll need to update the library and try it out (probably won't get to testing that until tomorrow) unless this is already part

[2022-01-03 20:42] kstuken opened #55 "item.history.lastUpdate("serviceID") writing to log on ever call"
I am running OH3.2 and am using JSScript rules via files.
When calling item.history.lastUpdate("serviceID") it will write "Last Update serviceID" to log on every call, like this:

`2022-01-03 21:40:26.616 [INFO ] [org.openhab.automation.script       ] - Last Update jdbc`

[2022-01-03 23:09] florian-h05 commented on #55
This is coded here: https://github.com/openhab/openhab-js/blob/f758d62a06056b4ab96d622566601a72d641d489/items/item-history.js#L92

I think @digitaldan added this logging for debugging reasons and maybe forgot to remove it?

[2022-01-03 23:16] digitaldan commented on #54
Sorry i did not read the whole exception  message in your first post, indeed it  seems like we need to import local modules, i'll look into it.

[2022-01-05 08:05] janwo opened #56 "Add ability to retrieve all items"
Dear community,

it would be great if its possible to retrieve all items using jsscripting. See https://www.openhab.org/javadoc/latest/org/openhab/core/items/itemregistry#getItems()

For no I am using a workaround.

[2022-01-05 15:06] marcinczeczko opened #57 "Add ability to define Rule tags"
Currently neither JSRule nor RuleBuilder doesn't support adding Tags to the create rule. Maybe there is a reason why it is not available that I'm not aware. Anyway, I can contribute with this addition if necessary.

[2022-01-06 18:46] rkoshak opened #59 "history.lastUpdate should return ZonedDateTime or everything else should use Date"
Consistency is the most important thing to me when it comes to usability. Everywhere else (that I've worked with the library so far) when working with date times we are working with joda-js.ZonedDateTimes (or java.time.ZonedDateTimes which is usually indistinguishable from the joda-js).

However, when pulling `lastUpdate` from `history` we get a JavaScript `Date` Object instead which works signifi

[2022-01-06 19:11] rkoshak commented on #59
If it helps I've a library (I'd like to submit it as a PR when it's ready) which converts almost everything you can think of to a time.ZonedDateTime. A snippet relevant to this issue is:

[code]

[2022-01-07 16:16] lukicsl opened #62 "rules.js - getTriggeredData changes"
It would be nice if the getTriggeredData function also returns the full content of the "input" data received from the core.
I have created pull request #61.

[2022-01-08 17:08] lukicsl opened #63 "custom installation (npm i openhab) results in ton of error log entries"
It seems that something is not working with custom installation.
See community post:
[](https://community.openhab.org/t/custom-installation-of-openhab-js-problems/131411?)

[2022-01-08 17:17] florian-h05 commented on #63
Thank you for your posting, but there is no link to the community post.
I bet that you mean the posts here https://community.openhab.org/t/jsscripting-in-v3-2-loads-node-modules-on-startup/130357, where `node_modules` is loaded as script?

If you do: This problem is already known, there is an issue: https://github.com/openhab/openhab-addons/issues/11831. A PR to fix this bug is also open: https://

[2022-01-08 17:51] lukicsl commented on #63
sorry: [https://community.openhab.org/t/custom-installation-of-openhab-js-problems/131411?u=lukics](https://community.openhab.org/t/custom-installation-of-openhab-js-problems/131411?u=lukics)

[2022-01-08 18:13] florian-h05 commented on #63
I answered to your post in the community forum.

[2022-01-08 18:56] #63 closed

[2022-01-08 18:58] lukicsl commented on #63
@florian-h05 so to understand it right: the error message at custom installing and at code changes can be ignored for the moment. Things should work despite these error messages as expected?

[2022-01-08 19:00] florian-h05 commented on #63
As far as my experience goes, yes.

[2022-01-08 20:22] florian-h05 commented on #57
@marcinczeczko

I have opened a PR to add rule tags where I linked you.

[2022-01-09 17:12] #55 closed

[2022-01-09 17:31] digitaldan commented on #56
Yep, I actually had this added a while ago and never opened a PR for it.  I think it's a good idea.

[2022-01-09 17:35] digitaldan commented on #59
Thanks @rkoshak !  I consider this a bug for sure, and its clear in https://github.com/openhab/openhab-js/blob/main/items/item-history.js#L183 why this is happening.

[2022-01-10 00:10] digitaldan commented on #59
Hey @rkoshak i think this should fix this particular issue, also i am including the `@js-joda/timezone` package now, which i think may fix #54 , but i would need to test if we have to import region specific locals strings.  Let me know what you think.

[2022-01-10 18:29] rkoshak commented on #59
I agree, this feels like a bug. This will certainly fix the issue but will be a breaking change. Do we have a good place to announce that sort of thing?

We are pretty early on here but lots of people are using it already.

I'm not sure if including timezone will be enough for #54. The docs are saying we need to import locale which I think is in a different package. But of course testing will show

[2022-01-11 16:37] Confectrician opened #68 "How to run/execute js rules from ui over long term with restarts and changes"
Currently the js rules produce an identifier based on the rule name and a generated uid.
The uid changes on every rule file save and when openHAB is restarted. (Not sure about the last one tough.)

![image](https://user-images.githubusercontent.com/7161177/148983298-c711d488-98a1-4651-a99f-ef98d08bd78b.png)

Configuration yaml code for the actions:

[code]

When i want to run/execute a JS rule fro

[2022-01-13 21:37] rkoshak commented on #68
At first I was thinking that this was indeed something managed by openHAB core but I'm not so certain. Looking at the code for JSRule I see

[code]

If JSRule were updated to support passing in an optional user defined UID you could get consistent IDs which should address this problem as well as some others.

We need to check builder too.

Another work around for you though would be to use the Rul

[2022-01-14 15:17] rkoshak commented on #68
OK, I was able to confirm that JSRule *does* let you select your own UID at creation time.

[code]

I cannot find a way to do it with builder though. It probably could be added as an argument to `when`.

[2022-01-14 16:59] Confectrician commented on #68
id sound pretty good. I will check that and see if it will do fine.

Anyway such an important information should get into the docs.
I was not able to fiddle around that much with the builder yet, so i can't say much about the (possible) implementation over there.

[2022-01-14 17:02] rkoshak commented on #68
I'm certain there is a lot of stuff like this not yet in the docs. It's high on my list to take a look at improving those, but time is short these days and I feel like I need more direct experience using it before I start documenting it.

[2022-01-14 17:42] Confectrician commented on #68
I have checked the id parameter and it looks good so far. 🙂

[2022-01-14 19:28] digitaldan commented on #68
@Confectrician just to be clear, you are defining the rules in files, and then calling them from rules in the UI correct? so its just the id rules defined in files that are changing ?

[2022-01-14 19:39] Confectrician commented on #68
Yes @digitaldan.

I am defining some more complex rules in files to get a proper editor. (Main UI is pretty good, but vscode still is better for me).
I am then using different UI rules (with triggers and mainly conditions) to call the file based rules.

Or to be a bit clearer for this direct usecase for a better understanding:

I have a (more or less) complex rule which starts a wake up radio cron

[2022-01-14 22:57] digitaldan commented on #68
Great, just making sure.  I plan on looking at it this weekend.

[2022-01-14 23:01] digitaldan commented on #59
I'm not sure we do have a good way of communicating that users will easily see.  Do you think lots of people are using this particular method yet? I assumed it was probably still rarely used as a more minor part of a new api.

[2022-01-15 00:44] #57 closed

[2022-01-16 00:36] #56 closed

[2022-01-16 16:59] digitaldan commented on #68
So i have a PR, #71 which hopefully is a good workaround, allowing the ID to be specified in the rule builder.  If there are no objections, i will merge this shortly.

[2022-01-16 17:28] digitaldan commented on #59
So i'm adding a new section to the readme that states breaking changes, i also use this to add in "whats new" in major releases.

[2022-01-16 17:28] #59 closed

[2022-01-16 21:36] #68 closed

[2022-01-17 18:10] #1 closed

[2022-01-17 18:11] digitaldan commented on #18
@rkoshak should we close this?

[2022-01-17 21:29] rkoshak commented on #18
Yes, I think most of the above had already been done and the docs have changed so much success this was opened some isn't relevant any more. As we find stuff we can add new and smaller issues as we go.

[2022-01-17 21:45] #18 closed

[2022-01-17 21:46] #62 closed

[2022-01-17 21:46] digitaldan commented on #50
Tracking this at openhab/openhab-addons#11945

[2022-01-17 21:46] #50 closed

[2022-01-18 17:02] rkoshak opened #75 "utils.js missing from generated docs"
The methods in utils are quite handy. We should make sure they get into the docs too. Even if just in https://openhab.github.io/openhab-js/index.html.

I've no idea how the docs are generated (it's on my list of things to learn) or I'd just submit a PR right now. I'll do it when I can figure it out but if it's just a quick change don't wait for me.

[2022-01-19 08:00] florian-h05 commented on #75
The `index.html` is generated from `README.md`.

After a quick look at the JSDoc, I noticed that the `utils` namespace is not in the JSDoc and after a look into `utils.js` I had the reason: the JSDoc comments are missing.

If you don't work at this now, I can have a look at this, I think I'll probably have a PR this evening.

[2022-01-19 15:27] digitaldan commented on #75
Yeah, i actually didn't realize we exposed utils outside the library in the main index.js , would be great to have some docs around it.

[2022-01-19 18:21] rkoshak opened #77 "add runRule function to rules namespace"
Recent questions on the forum indicate there is a strong demand to create rules that call other rules. This is not directly supported by the library. Before I submit a PR I want to make sure this seems like something appropriate for openhab-js.

To me it seems like an obvious addition but will keep it in my own library if that isn't a direction we want to go. The code it pretty simple and it suppo

[2022-01-19 19:44] digitaldan commented on #77
Sounds reasonable, question, can the rule manager run a disabled rule, so should that be checked first?  Also would it be better to throw an error if the rule can not be found or is disabled ?

[2022-01-19 21:00] Confectrician commented on #77
Since we have the ability to define fixed and stable rule uids in ui and files, wouldn't it be good to run Rules only from those known id's instead of trying to guess something?

From my view the needed effort for finding the correct uid could be tolerated for a stable function.

To make it a bit more complicated (😜) we could also think about alowwing to run disabled rules via an additional parame

[2022-01-19 21:22] rkoshak commented on #77
If the rule is disabled the RuleEngine will log out an error.

    2022-01-19 13:52:53.142 [ERROR] [e.automation.internal.RuleEngineImpl] - Failed to execute rule ‘tocall' with status 'UNINITIALIZED'

That's why I opted for a true/false return value. It's a little more informative than what OH itself does without being as disruptive as throwing an error. But I can absolutely check that the rule ex

[2022-01-19 23:56] digitaldan commented on #77
By the way i'm ok if we don't want to error if a rule is disabled or not, since the core seems to deal with that and log a message, this seems fine to ignore.  For not being found, that does seem like a condition that warrants an error.

[2022-01-20 09:22] jpg0 commented on #77
I have a question about the future guidance that we want to give script writers regarding reuse of functionality.

It seems that there are two possible use-cases here:

- Rule 'chaining' - one rule should be run as a result of some change in another rule
- Logic reuse - some functionality is already built into an existing rule and a user wants to reuse it

I am curious as I have written quite a lo

[2022-01-20 15:53] rkoshak commented on #77
Here is my primary use case for this.

I've a number of rule templates published to the marketplace. The easiest example is probably https://community.openhab.org/t/alarm-clock-rule/127194. Rules generated from this template will schedule a Timer based on a DateTime Item (probably something that should be implemented by core anyway but it's not so I wrote a rule template). But I can't predict what

[2022-01-20 17:30] florian-h05 opened #79 "'throw error' causes: ReferenceError: "error" is not defined"
When playing around with openhab-js, I experienced an issue, where the JS code should throw an error, but instead GraalJS throws:
[code]

Please note: While opening this issue, I already have a fix. I only opened this issue for better bug tracking.

[2022-01-20 17:39] rkoshak commented on #77
I missed this reply earlier.

The core deals with this the same way as when the rule is disabled, with an ERROR level message in the logs. So I would argue to throw an error in both cases or neither case. If we want to throw the error we need to implement methods rather than just exposing RuleManager. We can include the same information in the error as is in the logs from openHAB core.

[2022-01-20 18:10] jpg0 commented on #77
Right - the rule chaining use-case is different, I assumed the wrong use-case. However if I look at how most of the rule-chaining use-case works in openHAB, it's via channels. So typically your rules would put events into a channel, then users could configure their rules to trigger based on that channel. This seems both more flexible (triggers can do more than just a direct call, they can delay, d

[2022-01-20 18:37] rkoshak commented on #77
So are you arguing that any use case that has one rule call another should be implemented as an add-on and should not be implemented as a rule template? If that's the case rule templates would be *way* less useful and interesting as a concept over all.

I couldn't implement such an add-on because bindings, by policy and design, do not have access to all the Items (that's why the MQTT EventBus has

[2022-01-20 20:07] jpg0 commented on #77
No, I'm arguing that the rule should post an event to a channel when appropriate, rather than call another rule.

For example, let's take threshold functionality. The way I could imagine this working is that a rule template would allow you to create a rule that takes the parameters:

- The item to monitor
- The threshold value
- The channel to notify when the threshold is reached

The user would c

[2022-01-20 21:13] rkoshak commented on #77
I'd love to know how. It would be fun to see how it's done. But as far as I've been able to determine looking at the code and the APIs, Channels can only exist as part of a Thing. There is no way to define one outside the context of a Thing. They certainly are not stored in the JSONDB outside the context of a Thing. There is no REST API endpoint to create a Channel independently from a Thing. The

[2022-01-21 10:27] jpg0 commented on #77
I have indeed only created channels as part of a Thing - which can be created from scripts. I agree that I don't think it's possible to have a channel without a Thing (although I believe that you can put anything on the openHAB event bus internally, so it may be possible). In the Threshold example there could be a 'ThresholdMonitor' Thing created from where the channels originate. This is very sim

[2022-01-21 14:47] rkoshak commented on #77
Would that show up under Things? What would manage its ONLINE/OFFLINE status? I've never done it from a rule but when I've had Things created by a binding that I've removed, that Thing remains in an OFFLINE state. Perhaps the rule can manage the state of the Thing? But then we've come a really long way from a simple function call to a whole host of creation and management activities required by th

[2022-01-21 20:39] jpg0 commented on #77
Yes. The way I have done it in script is that the script provides it's own definitions of things from memory, it does *not* use managed providers. This way if the script goes away, so does everything attached to it - it is not longer present at all, so does not end up in an OFFLINE state or anything. TBH I suspect that it would be better to change JSRule to create unmanaged rules too, but I never

[2022-01-22 17:21] #75 closed

[2022-01-22 17:22] #79 closed

[2022-01-23 18:42] digitaldan opened #83 "Update docs for logging changes in binding"
Reminder to update the docs regarding default log levels and customizable log name.

[2022-01-24 17:44] rkoshak opened #84 "Add functions to get and set full Item metadata"
The current set of functions only work with metadata values, not full metadata with a value and configuration map. This is a feature request top add functions that will get, insert, upsert, delete full metadata entries.

[2022-01-25 00:46] digitaldan commented on #84
Have you seen #43  ?  We were discussing moving out meta data to its own namespace and then adding missing functionality .  I have not circled back to finish that up yet.

[2022-01-25 17:30] rkoshak commented on #84
I did not see 43.  I looked at the issues but not the active PRs. I'll close this since it looks like it's being addressed.

[2022-01-25 17:30] #84 closed

[2022-01-26 16:05] rkoshak commented on #77
I'm going to close this issue since the PR has been merged. It's probably best to open a new one to pursue the rule Channels Idea.

[2022-01-26 16:05] #77 closed

[2022-01-27 10:11] Cossey opened #85 "Get Item Groups"
Looking at the `Item` object, it has methods for `addGroups` and `removeGroups` but there appears to be no way to get the current groups the that item is a part of.

I propose, a new property on the `Item` object called `group` with an array of group objects or names/labels.

I have contact sensors the are labelled "Is Open". The name of the actual place (ie Front Door) is on the label of the grou

[2022-01-29 16:48] digitaldan commented on #85
Thank @Cossey , indeed the native/raw item has a method called `getGroupNames()`
 i'll look at exposing this in the library.

https://www.openhab.org/javadoc/latest/org/openhab/core/items/item#getGroupNames()

[2022-01-30 16:39] #85 closed

[2022-02-04 19:41] rkoshak opened #88 "Addition of timeUtils"
This issue is for the discussion of whether or not it makes sense to add my timeUtils library to openhab-js. I can see arguments either way but I've found this one of my libraries to be so incredibly useful I think it would be of great help to all OH users.

At a high level it has the following functions:

Function | Purpose | Dependencies
-|-|-
`parseDuration` | Parses a string like "2h5s" (two h

[2022-02-04 20:09] jpg0 commented on #88
That all looks really useful to me. Do you think that it would be possible to attach the functions to a `ZonedDateTime` instead of leaving them as utility functions? For example, all the `toXXX` put onto `ZonedDateTime`, and the construction functions (`parseDuration`) to either add to the `ZonedDateTime` or add as `toXXX` on the source type? I ask because I personally prefer this style, and it al

[2022-02-04 20:30] rkoshak commented on #88
I don't see why not. While the functions call each other, they don't have any sort of external dependencies (beyond needing to Java.type the openHAB State Types which I could put into the function).

Notice though there is only the one `toDateTime` function. It decided what to do based on the type of what's passed to it.

One of the things that is powerful about that approach is the caller doesn't

[2022-02-04 20:39] jpg0 commented on #88
Absolutely - if you add `toDateTime` to all the things that can convert, then users still don't need to know. The only difference is that they will get an exception if they try to do it on something that cannot convert (rather than a null) - which is usually better anyway.

I don't think I can help with this - I have no idea how the docs work.

I would advise getting the opinion of @digitaldan fir

[2022-02-04 21:04] rkoshak commented on #88
Just to make sure I don't go off half cocked and that I understand:

- add a toDateTime to our item class which will cover DateTimeType, StringType, DecimalType, PercentType, and QuantityType (throwing an error in all other cases)
- monkey patch toDateTime to String to handle parseDuration, 24HrTime, 12HrTime, and in the future ISO8601 formatted strings (I'd probably add a toDateTime and a toDurat

[2022-02-04 22:01] jpg0 commented on #88
Yes, that is what I meant. However if this is too wide a set of changes, possibly it could all live on ZonedDateTime instead, so that `ZonedDateTime.from(..)` (or similar) handles the conversions?

[2022-02-05 02:19] rkoshak commented on #88
The hard part is already figured out. Whether I put it all in ZonedDateTime or spread it out is the same amount of work. I just want to get it right.

I'll start work on a PR and then we can go from there.

[2022-02-06 10:09] janwo opened #89 "[things] Add ability to retrieve all things"
Dear community,

in order to analyze all things in my scripts, I need something like `things.getAll()`.

See https://www.openhab.org/javadoc/latest/org/openhab/core/thing/thingregistry 🚀

Are you planning to integrate it?

[2022-02-08 13:45] florian-h05 commented on #54
@rkoshak
I did further inverstigation, looks like I could provide a solution in this, I will open a PR later.

[2022-02-14 21:28] rkoshak opened #98 "[actions] Add wrappers around actions to avoid type problems"
I've encountered this issue on the forum a couple of times already and suspect it's only going to become more of a problem as more people adopt JS Scripting.

Take `actions.Semantic` for example. Each and every method on this Action requires a an OH Java `Item` Object, which we've gone out of our way to try to hide from the end users. It's jarring to the end user and we've not even documented that

[2022-02-18 19:45] digitaldan commented on #98
Right, this is problematic.  We could try and wrap all actions, but i fear this is going to be a maintenance  issue as additional actions are added.

In the binding as you know we translate both js-joda ZonedDateTime and Duration parameters to Java native versions like:
[code]

we could add something like this to match Items
[code]

[2022-02-18 21:08] rkoshak commented on #98
I didn't know that that mapping happened in the binding. That's useful to know. I thought maybe GraalVM handled it somehow.

Should I move this issue to the add-on then? I think implementing it there as you suggest would be more consistent with what's already been done for these other types.

[2022-02-18 22:04] digitaldan commented on #98
Sounds good!   I'll take a stab at this tonight and get a PR and jar posted soon.

[2022-02-19 22:34] digitaldan commented on #98
updated binding at https://github.com/digitaldan/openhab-addons/releases/tag/jsscripting-item-proxy

I don't use these actions either , but  this seems to fix the Semantic compatibility.

Hmm, i wonder how most people use that?  Is volume something that is pulled from an item, or do most people hardcode this in their script ? I can probably add something for this as well like:
[code]
It would be n

[2022-02-21 15:56] rkoshak opened #100 "[docs] Transformation action is missing"
All the core Actions are imported in `actions.js` except for Transformation. We should include all the core Actions.

I'll submit a PR in the next couple of days but is someone wants to run with this please do. It's only one line of code and a few lines of docs strings.

## Your Environment

* Version used: latest as of this writing

[2022-02-21 18:36] digitaldan commented on #100
So we dynamically add all the actions that bundles expose here https://github.com/openhab/openhab-js/blob/d1b3cd5f87e967b59d8c612efc38bc83b7b3eb81/actions.js#L26 , this is how things like myopenHAB notification actions get added.  I believe Transformation is being loaded here as well.  Since this is a bundle that i think is always provided with openHAB its probably worth adding documentation even

[2022-02-21 18:39] digitaldan commented on #98
I'm not sure, I don't do much with those in my own rules.

Let me know if the percent fix works for you.

[2022-02-21 19:09] rkoshak commented on #100
True, but Transformation is a core Action like Log and ScriptExecution and Exec.

https://www.openhab.org/javadoc/latest/org/openhab/core/transform/actions/transformation

I would have expected it to work the same as the other core actions.

But indeed, it appears to work so maybe we just need to document it? I just ran the following in scratchpad and it worked.

    console.log(actions.Transforma

[2022-02-21 19:21] digitaldan commented on #100
The transformation bundle exports its action like add-ons do, where the actions we explicitly load and document are located in
https://github.com/openhab/openhab-core/tree/main/bundles/org.openhab.core.model.script/src/org/openhab/core/model/script/actions

I'm guessing this package was assumed to be the source of truth for core actions, which is why it's not  documented.

technically any bundle,

[2022-02-21 19:31] rkoshak commented on #100
Yes, I wouldn't want to try to keep up with all the add-ons. But it's probably important to keep up with core. Since some of the core actions are documented when it's not mentioned it can lead some (like I was) to the conclusion that it's not included.

I would say let's add a section to the README mentioning that bindings and core can register their own actions and to look at the add-on readme fo

[2022-02-21 19:36] digitaldan commented on #100
Sounds good, we actually do have a little blurb about this on the readme, but its small and easily missed:

https://github.com/openhab/openhab-js/blob/main/README.md#actions

[2022-02-21 19:50] digitaldan commented on #100
looks like we are also missing docs for persistence actions

https://github.com/openhab/openhab-core/blob/92917946d40c908181143f6c8335f40752bd3b69/bundles/org.openhab.core.persistence/src/main/java/org/openhab/core/persistence/extensions/PersistenceExtensions.java

[2022-02-21 19:52] digitaldan commented on #100
although we cover this functionality in our Item class I believe, but technically there is a `actions.Persistence` exported.  Probably not worth documenting separately ?

[2022-02-21 20:41] rkoshak commented on #100
That's a good question. We probably want users using the methods on Item instead of calling the PersistenceExtensions actions directly. It might cause confusion to show two ways of doing it in the docs.

[2022-03-04 21:08] rkoshak opened #102 "Add utilities to improve QuantityType handling"
QuantityTypes are somewhat of a pain to work with. I think the current implementation in openhab-js leaves much to be desired.

My understanding is that currently the library goes out of it's way to throw away the units for QuantityTypes and pretty much forces the users who actually want to use units in their calculations to revert to messing with the rawState and importing and creating QuantityTy

[2022-03-25 14:22] jpg0 commented on #102
I'm posting now as I've only just been learning about QuantityTypes...

It seems that your proposed implementation would copy all the existing types from the Java side. Would it be worth taking a look at using JS proxies instead, so that you can wrap the Java object into a JS one and simply pass through method calls, rather than having to reimplement each one?

[2022-03-26 15:48] digitaldan commented on #102
@rkoshak can you give a few examples of how you are using Quanity types (or how you would like to use them)?  I have to admit, i don't actually pay attention to them much and want to make sure i see it from your point of view.

[2022-04-01 13:56] florian-h05 opened #104 "[utils] dumpObject‘s getAllPropertyNames(obj) doesn‘t log properties"
## Expected Behavior
`utils.dumpObject(object)` should log all properties of a object with the getAllPropertyNames(obj) method.

## Current Behavior
When I use `utils.dumpObject(object)`, I get the following log output:
[code]
As you can see, getAllPropertyNames(obj) in the last line returns an Array, whose members should be logged.

## Possible Solution
I will open a PR with a fix very soon.
This

[2022-04-10 15:53] #104 closed

[2022-04-10 19:26] jhuizingh opened #108 "Can not create item metadata config using openhab-js"
Although itemMetadata is included as an option on the `createItem` function, that value does not seem to be used if I am [reading this ](https://openhab.github.io/openhab-js/items_managed.js.html#line270) correctly.

Additionally, there is a mismatch between the signatures for `addItem`, `createItem`, and `replaceItem`, although it seems like they all ultimately call `createItem` under the hood so

[2022-04-10 20:26] florian-h05 commented on #108
@jhuizingh, I will take a look at each of your points and update this comment according to my progress.

Yes, they all ultimately call `createItem`. The mismatch in their params/signature is something I will correct as soon as I had a look at everything you mentioned.

`createItem` creates a new Item object that is not registered with any provider and therefore not in the Item registry. That means

[2022-04-23 12:09] #108 closed

[2022-04-23 12:36] jhuizingh commented on #108
Thank you, @florian-h05!

[2022-04-24 14:42] florian-h05 opened #111 "event data payload differs from UI to file-bases rules"
As already noticed in some PRs (https://github.com/openhab/openhab-js/pull/106, https://github.com/openhab/openhab-js/pull/110), the `event` object differs from UI-based to file-based rules.

In file-based rules the event data is "formatted" by [`getTriggeredData(input)`](https://github.com/openhab/openhab-js/blob/394fb9959ce92f57766d495fb98c298276d78615/rules/rules.js#L339).

A solution to unify

[2022-04-24 16:29] jpg0 commented on #111
Whilst that would technically work in this case, my fear is that due to there being different implementations triggering the rules, this is only a hack rather than a proper solution. It won't fix all differences (e.g. can you use const in UI rules yet?), and may also break if the current wrapping code changes.

As for whether it's possible to inject this transparently, sure, it's possible.

[2022-04-24 17:04] florian-h05 commented on #111
So you would not advise to inject or add that to the top of MainUI scripts?

By the way, I found one more difference between UI and file based: UI based scripts do not reload on changes in `node_modules`.
You have to disable/enable them to reload dependencies.

[2022-04-30 05:36] ssalonen commented on #111
Does the workaround in the first post work for thing status update triggers?

[2022-05-04 16:25] DavidR1953 opened #112 "[JS Scripting] Directory permissions for $OPENHAB_CONF/automation/js"
## Expected Behavior
VS-Code users should be able to create files.

## Current Behavior
When the JavaScript Scripting add-on is installed it creates the directory $OPENHAB_CONF/automation/js with permissions 755
VSCode users of the default openhabian installed setup cannot write to this directory because the user is openhabian, not openhab.

## Possible Solution
Create the directory with 775 permi

[2022-05-04 17:50] digitaldan commented on #112
Hi David, this sounds like a ticket for https://github.com/openhab/openhab-addons .  This repo is simply the pure Javascript library that gets included the with JavaScript binding.

[2022-05-04 17:50] #112 closed

[2022-05-04 17:57] DavidR1953 commented on #112
My apologies. I'll move it there. Have to be tomorrow though. Thanks for
the heads up.

Warm regards,

David Read

On Wed, 4 May 2022, 18:50 Dan Cunningham, ***@***.***> wrote:

[2022-05-11 11:11] JacekKac opened #114 "items.addItem / createItem"
can you update documentation and include add/create item syntax? i am not sure how to use in in javascript:
[code]
what is the difference between create and add item?

[2022-05-12 15:32] florian-h05 commented on #114
Hello @JacekKac,

as you can see at https://github.com/openhab/openhab-js#items and https://openhab.github.io/openhab-js/items.html#.replaceItem, the syntax for `addItem()` and `replaceItem()` (which adds the Item if it not exists) is already documented and these methods have been verified to work.

In recent PR #109, big improvements were made to those methods and the difference between `createIt

[2022-05-13 21:28] florian-h05 commented on #88
As #101 has been merged, this can be closed now??

[2022-05-14 07:14] florian-h05 commented on #83
@digitaldan
I think this can be closed, right?

[2022-05-15 20:00] JacekKac commented on #114
i don't have access to my openhab instance right know, but what i did was: installed openhab plugin from GUI, and then installed manuall addon by npm -i openhab/openhab-js in /etc/openhab/automation. i can use items.getItem but when i use items.replaceItem with given config (even basic) it fails.

[2022-05-15 20:12] florian-h05 commented on #114
Hmm, once you have access to your openHAB instance again, can you upgrade openhab-js with `npm i openhab` in _/etc/openhab/automation/js_?

Two days ago, a new version was released to npm that includes the recent changes to `replaceItem`.

[2022-05-16 16:25] JacekKac commented on #114
ok after upgrading openhab to Version:     3.3.0.M5 (Build)
and npm i to newest code it is working.

[2022-05-16 20:52] florian-h05 opened #115 "Rules: Logged error on failed rule run doesn‘t contain any error information"
## Expected Behavior
I would expect that the logged message includes a detailed error message like the following:
[code]

## Current Behavior
When a JSRule run failes, a message like that is logged:
[code]

## Possible Solution

I think I already have some solution, but this required additional testing.
I will soon open a PR.

## Steps to Reproduce (for Bugs)

1. Create a JSRule that will produce

[2022-05-17 15:09] #115 closed

[2022-05-19 14:29] JacekKac opened #117 "PWM / PID controller rule from template in js syntax"
Hi, i need your help with syntax for PWM and / or PID controller rule creation using JSRule.

1. My goal is to create such rule (snippset of code after creation in GUI) using JSRule
[code]
2. My first attemp is:
rules.JSRule({
  name: "Termostat x PWM rule",
  id:   "Termostat_x_PWM",
  tags: ['Roomx','_DYNAMIC_'],
  overwrite: "true",
  description: "PWM rule for heating actuator",
  triggers: [t

[2022-05-19 14:38] JacekKac commented on #117
in addition i was able to do it in
scriptExtension.importPreset("RuleSupport");
scriptExtension.importPreset("RuleSimple");
var sRule = new SimpleRule() {
	    execute: function(module, input) {
    	    print("input:" + input); // input contains all the output values
	    }
	};
	sRule.setName('PWM' + RadiatorACx);
	sRule.setTags(java.util.Set.of("PWM"));
	sRule.setTriggers([
	    TriggerBuilder.c

[2022-05-21 07:21] JacekKac opened #118 "[items] state of an item created by replaceItem() not visible in BasicUI."
[code]
[code]

basicUI
![image](https://user-images.githubusercontent.com/72306272/169640539-9db5c339-0b03-438c-806d-252e32efd363.png)
html:
[code]
generated html shows "data-has-value="false" which is not true.
It acts the same for number and string items, only switch items show "switch slider". Is it neccesary to add metadata with statedescription  ?

openhab-js installed and updated manually.

[2022-05-21 07:51] JacekKac commented on #118
adding a value: " "
config:
  pattern: "%.1f °C"
into a metadata statedescriptions is solving the problem, but is there a way to skip the metadata and redender the value as default like it is in normal item configuration (without obligatory statedescription)

[2022-05-23 19:37] rkoshak opened #119 "setTimeout only accepts number of millis, add back documentation to create OH timer that accepts ZDT"
As currently implemented, `setTimeout()` only supports the use case of creating a timer based on a delta/delay from now. However, it does not support absolute scheduling of a timer based on a full DateTime (e.g. scheduling a timer based on the state of a DateTime Item or the result of some sort of calculation). Because it doesn't support this latter use case, and I'm not sure it would be a good id

[2022-05-23 20:18] digitaldan commented on #119
Wouldn't you use the newly added `.getMillisFromNow()`  when passing into a setTimeout call?

[2022-05-24 12:06] JacekKac opened #120 "[items] removeItem() fails with error message"
if i put .itemReplace in a loop to create 50 items it works ok. Then i do :

[code]
and it does remove some items but few of them, and gives
[code]

item gRoom1 was properly deleted. When i run the script again it works for a few items, then it give the same error for another item.
Ofcourse the items are created properly and exist in items registry, and they are included in items.getItemsByTag.

w

[2022-05-24 20:05] rkoshak commented on #102
Circling back around to thing since the time utils PR was merged.

I not sure I addressed this but no, I'm not actually proposing copying the all the Java types. I think I'd only need to import QuantityType.

So an `add(a, b)` utility function would do something like the following:

[code]

There would be a similar implementation for all of the operations. I'm sure something clever could be done t

[2022-05-27 13:02] florian-h05 commented on #120
Hello @JacekKac,

I did some further testing and was able to fix the issue in #122.

[2022-05-27 13:42] florian-h05 commented on #83
Closing now as #87 fixed this issue-

[2022-05-27 13:42] #83 closed

[2022-05-27 19:40] florian-h05 opened #124 "[Docs] File Based Rules/Event Object types are incorrect"
Recently I found out that the type of the `receivedCommand` property is not string as I wrote in the docs.

I will take a look into the types of the event object‘s properties and correct the docs.

[2022-05-27 21:46] #120 closed

[2022-05-28 09:24] JacekKac commented on #117
any idea how to do this ? it's urgent for me

[2022-05-28 11:39] florian-h05 commented on #117
Yes, I have an idea, I am taking a look into this at the moment.

[2022-05-28 13:51] florian-h05 commented on #117
Hello @JacekKac,

I have a solution, two PRs are open now.
I have to wait for @digitaldan for review, but I can give you some impression hot it will work:
[code]

[2022-05-28 13:58] florian-h05 commented on #118
I can reproduce that behavious, but I don't have a solution in my mind for this.
Maybe @digitaldan has any idea?

[2022-05-29 14:19] JacekKac opened #127 "[rules] rules.SwitchableJSRule - tags"
Proxy rule and proxy item imho  should have the same TAGS as it parent rule.
1. consider copying the tags from parent rule
2. consider putting "_DYNAMIC_" tag by default in rules and JSRules
3. consider proxyitem creation with tag "_DYNAMIC_" in addition to parent tags

it will be easier to manage items/rules created from js scripts

[2022-05-29 14:34] florian-h05 commented on #127
I agree with 1, but I think 2 was already discussed here and it was decided against this.
To talk about 3: The proxy item already has the tag `GENERATED_RULE_ITEM`, which let the user differ Items created by `SwitchableJSRule` and `replaceItem`.

@digitaldan Wdyt?

[2022-05-30 15:51] #124 closed

[2022-05-30 16:18] #117 closed

[2022-05-30 20:02] digitaldan commented on #118
It looks like items defined in files that have a label with a state pattern ( like `[%s]`) get a default `StateDescription` assigned to them based on type, but using the rest API or the API here to create items does not auto generate this, so indeed you need to add that yourself with metadata.  The basic UI code is dependent on this for rendering.

[2022-05-30 20:40] florian-h05 commented on #118
Okay, should we consider setting a default `StateDescription` depending on the Item type for the case that the user does not define one?

[2022-05-30 22:29] digitaldan commented on #118
I'm a little on the fence on this one since the REST API does not provide this convenience, and our main WebUI does not do this automatically either ( i just tested it) .  It seems like its just the older file implementation for items which does this, and i can't find where that code lives in core, so i'm not sure what the logic is.  My vote is we follow the REST API and WebUI and not try and do t

[2022-05-31 08:08] JacekKac opened #128 "[triggers] Add PID controller automation trigger"
Please add also PID controller automation like you do with PWM trigger

https://github.com/openhab/openhab-js/issues/117

[2022-05-31 11:37] florian-h05 commented on #118
Okay, that's good to know.

Maybe we should add a note about this to the README and update examples to show how to set `stateDescription`?

[2022-05-31 11:39] florian-h05 commented on #128
Hello @JacekKac,

this is on my to-do list, I'll take a look into this in a few days.

[2022-05-31 22:28] digitaldan commented on #118
Yeah, i think an example would be awesome. 👍

[2022-06-03 19:12] florian-h05 commented on #118
Closing as #129 mentions the required `stateDescription` in the docs.

[2022-06-03 19:12] #118 closed

[2022-06-03 19:49] JacekKac opened #130 ".js files are not run / reload after change"
working with js on one instance of openhab, then aprepared new one, i installed jscripting addon from GUI, and npm i openhab from command line.

/etc/openhab/automation/js has few .js rules. i can add new files, changes existing ones and ther are not reloaded - they are not loaded even on openhab restart. Adding an EMCA script is working fine.
Don't know what to do - i change my java engine to
[co

[2022-06-03 19:52] florian-h05 commented on #130
Hello @JacekKac,
first of all, as this issue is related to the JS Scripting add-on and not to the openHAB JavaScript library (which is in this repo), this issue should be on the openhab-addons repo. Please remember the next time.

Can you tell me your openHAB version?

[2022-06-03 19:54] JacekKac commented on #130
Sure thank you for this information,  it was not clear for me :)
Version:     3.3.0.M5 (Build)

[2022-06-03 19:58] florian-h05 commented on #130
Hmm okay, my production system is also on 3.3.0.M5 but I have no problems.
I am using `openjdk 11.0.15 2022-04-19`.

[2022-06-03 20:00] JacekKac commented on #130
reverting to java
openjdk 11.0.15 2022-04-19 LTS
OpenJDK Runtime Environment Zulu11.56+19-CA (build 11.0.15+10-LTS)
OpenJDK 64-Bit Server VM Zulu11.56+19-CA (build 11.0.15+10-LTS, mixed mode)
and it's working again

[2022-06-03 20:02] florian-h05 commented on #130
Okay, great. I just wanted to write something regarding Java 17.

I am not sure how the compatibility with Java 17 currently is, but I think that I've read that there are still some issues with Java 17, so I would have recommended to revert back to Java 11.

As your problem is solved, I will close this issue now.

[2022-06-03 20:02] #130 closed

[2022-06-03 22:25] #128 closed

[2022-06-04 20:48] #89 closed

[2022-06-06 07:18] jpg0 commented on #127
It may also be worth reconsidering `SwitchableJSRule` entirely.

I included this back in openHAB 2.x (when the new UI was not available) so that rules could be switchable from a sitemap. I believe that it's now possible to enable/disable rules directly with the new UI, not requiring a corresponding item.

[2022-06-06 08:05] florian-h05 commented on #127
Yes, this is now possible from the new UI, but only for logged in administrators. I really like `SwitchableJSRule` because I love the option to enable oder disable a rule from a Sitemap, e.g. for a time triggered rule.
Of course we could change the implementation, but I think that we should have something like `SwitchableJSRule`.
When we are about changing the implementation, what I really miss is

[2022-06-06 18:03] JacekKac opened #135 "PWM - bad syntax of execute"
There is sth wrong with the execute part  i took it from your docs @florian-h05
[code]

2022-06-06 19:59:58.935 [ERROR] [tomation.script.file.rulesCreator.js] - Failed to execute rule Termostat_1_PWM_rule: TypeError: Cannot read property "command" from undefined: TypeError: Cannot read property "command" from undefined
        at execute (rulesCreator.js:123)
        at doExecute (/etc/openhab/aut

[2022-06-06 18:12] #135 closed, assigned to nobody

[2022-06-14 21:25] florian-h05 commented on #111
Closing as we won‘t fix this here as this is related to openHAB Core.

[2022-06-14 21:25] #111 closed

[2022-06-24 10:11] dilyanpalauzov opened #139 "Difference between JS-Scripting and JS223-Scripting"
https://www.openhab.org/docs/configuration/jsr223.html says, that one possible way for scripting is to use JavaScript, by putting `.js` files under `opehnab/automation/jsr223/`.

https://www.openhab.org/addons/automation/jsscripting/ presents another way to JavaScript-scripting, by installing `.js` files under `opehab/automation/js/`.

I cannot find anywhere information, what are the differences b

[2022-06-24 20:30] dilyanpalauzov opened #140 "[triggers] How to skip parameter in trigger configuration"
https://openhab.github.io/openhab-js/triggers.html#.ItemStateChangeTrigger says:

That is, the `oldState`, `newState` and `triggerName` parameters are optional.  Please document how to skip `oldState` and utilize only `newState`.

I want to crate a trigger, only based on the new state, irrespective of the old state.  The concrete case is, that I have broken inverter and sometimes it resets and pro

[2022-06-25 23:29] florian-h05 commented on #140
Hello @dilyanpalauzov,
you can skip parameters by passing in `null`, therefor for you case you could use:

[code]

[2022-06-25 23:30] florian-h05 commented on #140
I will update the docs to mention that.

[2022-06-25 23:42] florian-h05 commented on #139
Hello @dilyanpalauzov,

the difference is that JSR223 JavaScript is based on an older JavaScript engine called `NashornJS` that only supports ECMAScript 5.1. Furthermore, you have to use the raw Java APIs with JSR223 which is quite complicated.

JS Scripting instead supports the latest ECMAScript 6 and provides this library (openHAB-js) that „translates“ between JavaScript and the raw Java APIs. T

[2022-06-26 07:32] dilyanpalauzov commented on #139
This recommendation is nowhere written and the differences between the two systems are not outlined.

[2022-06-26 10:29] florian-h05 commented on #139
I am now aware of this thanks to to your issue.

I'll move this issue to the docs repository and provide a PR that updates the docs to fix this.

[2022-06-26 12:49] dilyanpalauzov opened #141 "JSRules creates UIDs with many leading dashes"
With openHAB 3.2 I create a JS-rule using:
[code]
Then I call in Karaf:
[code]

The problem report is that the generated UID shall not contain many dashes (`-`) at the beginnig of its name.

For the record, UIDs for rules from the `/etc/openhab/rules` contain the filename, followed by a dash and digit (number of the rule within the `.rules` file).  This UID generation logic is much better.

[2022-06-26 15:59] dilyanpalauzov opened #142 "Multi threaded access is not allowed for languag e(s) js."
Using openHAB 3.2 in two `/etc/openhab/automation/js/*.js` files I have:
[code]
Running the script logs:
[code]
(the above is logged twice, since I have in two distinct .js files nearly identical code).  The second exception starts with `2022-06-26 16:56:28.522 [WARN ] [ore.internal.scheduler.SchedulerImpl] - Scheduled job failed and stopped` and is thus called after the `console.log('N')` code.

[2022-06-27 21:21] florian-h05 commented on #141
Hello @dilyanpalauzov,

after some investigation and looking at
https://github.com/openhab/openhab-js/blob/5bf74e19a5cbdd7f2fc3f10b5ea29d91571a47f7/rules/rules.js#L235

I think the problem is your rule name in kyrillic (is that correct??) letters, because those are no word characters (A-Z, a-z, 0-9).
I think that openHAB could not handle those characters and therefore they are replaced for the rul

[2022-06-28 10:24] dilyanpalauzov commented on #141
Since many `-` dashes in a row contain no information, it would be better, if the generated rules do not contain sequences of dashes, as result of transliteration.

In the above example, the UID `----------------------------------325106c4-0fc3-49f9-a466-a988921c6bff` shall be just `325106c4-0fc3-49f9-a466-a988921c6bff`.

[2022-06-28 11:18] florian-h05 commented on #141
I have a different opionion on that — for the most users, the current way is better, because of the rule name is contained in the uid. For the rare cases where the user (you) is using a rule name that cannot be used in the uid, you should stuck with the auto-generated uid and manually set it:

[code]

[2022-06-28 14:25] dilyanpalauzov commented on #141
For the most users the current logic is good, and I do not ask to change the current logic for the most users.

For the rare cases, when the generated UID has many dashes in a row, I propos stripping the dashes.

[2022-06-28 15:35] #140 closed

[2022-06-28 19:00] florian-h05 commented on #141
Okay, I understand what you mean.
I will take a look at this probably when I have some spare time.

[2022-06-29 14:25] jpg0 commented on #141
FYI this is solved pretty easily by updating the regex to greedily consume all the non-matching characters by appending a plus `/[^\w]+/g`.

[2022-06-29 14:28] florian-h05 commented on #141
@jpg0
Okay thanks, do you want to contribute?

[2022-07-02 17:58] florian-h05 opened #145 "[rules] ItemStateChangeTrigger event data incorrect if the Item is a Group."
**ItemStateChangeTrigger** event data incorrect if the Item is a Group.
It appears that rules.js/getTriggeredData() does not handle the case when the triggered Item is a Group.

https://www.openhab.org/docs/configuration/items.html#groups

When using a Group Item the event **triggerType** and **itemName** are missing and the event class is **org.openhab.core.items.events.GroupItemStateChangedEvent

[2022-07-02 18:02] florian-h05 commented on #145
@rickoman
I am having a look at this right now, I now what the problem is.

I will fix that.

I am not sure if you consider this as an issue, but this is no issue or bug.

[2022-07-02 19:26] florian-h05 commented on #145
@rickoman
I have a PR opened with a fix, it would be nice if you could test it (see #146).

You can install the PR with `npm install git+https://github.com/florian-h05/openhab-js.git#rules-fix-get-triggered-data`.

[2022-07-04 20:46] #141 closed

[2022-07-05 11:19] #145 closed

[2022-07-12 15:52] #139 closed

[2022-08-16 20:02] rkoshak opened #150 "time.isBetweenTimes cannot see time.toZDT()"
## Expected Behavior

When calling `myZDT.isBetweenTimes(before, after)` I expect to get back a boolean.

## Current Behavior

An error is thrown:

    an error occured: TypeError: time.toZDT is not a function

I know this worked when I checked it in because I had test cases to exercise it. But I can't see anything that has changed in time.js since then to cause it to break.

## Possible Solution

[2022-08-16 22:13] florian-h05 commented on #150
@rkoshak

I know what‘s the problem:

Since my PR #137, `toZDT` is no property of `time` in time.js.
Anyway, you can call `time.toZDT` because `toZDT` is seperately exported with `module.exports`.
I changed this because otherwise `typescript` was not able to generate type definitions for `toZDT`, sorry.

I fixed that, you might have seen the commit which links to this issue.

As I am not at home a

[2022-08-17 13:52] #150 closed

[2022-08-22 20:19] florian-h05 opened #153 "[triggers] Add the new `Time is <Item>` trigger"
Add support for the DateTime Trigger (https://github.com/openhab/openhab-core/issues/2726).

See https://github.com/openhab/openhab-core/pull/2963 for implementation in Rules DSL (might help).

[2022-08-26 19:32] #153 closed

[2022-09-03 17:08] ssalonen opened #156 "js api missing xxBetween persistence methods"
Openhab-js api is missing xxBetween methods, e.g. <Item>.averageBetween

See https://www.openhab.org/javadoc/latest/org/openhab/core/persistence/extensions/persistenceextensions

## Your Environment

* Version used: (e.g., openHAB and **JS Scripting add-on version**)
* Environment name and version (e.g. Chrome 76, Java 8, Node.js 12.9, ...):
* Operating System and version (desktop or mobile, Windo

[2022-09-03 22:38] florian-h05 commented on #156
Thanks for the hint, I‘ll add them.

[2022-09-05 12:24] florian-h05 opened #157 "[items] ItemHistory: Enable type definitions"
Autocomplete does not work for the following expression due to unavailable type definitions:
[code]

[2022-09-10 22:19] #157 closed

[2022-09-10 22:19] #156 closed

[2022-09-12 15:29] florian-h05 opened #159 "[actions] Adapt to core Timer/Scheduler changes"
Some time ago, the ability to name timers/scheduled jobs was added to core.
Adapt to this change (may just need some docs updates).

Referring to https://github.com/openhab/openhab-core/pull/2911.

[2022-09-13 14:15] #159 closed

[2022-10-07 16:26] rkoshak opened #162 "[items] Add a "rawItem" attribute to Item similar to rawState"
There are rare but useful circumstances where getting access to the raw Java Item Object is required. One example is when using the Semantic Actions (e.g. getEquipment(), getLocation(), etc.). These Actions require the Java Item Object and, at least based on my experience, there is nothing to autotranslate between the JS Item and Java Item like there is for ZonedDateTime.

So my thoughts are:

1.

[2022-10-07 22:57] florian-h05 commented on #162
This is the simplest solution, we can of course add access to the raw Java Item using a `rawItem` property, but ...

... this would be the much cleaner way to access the Semantics.

Regarding 2., I can neither tell if that's possible nor how it is done with ZonedDateTime without looking it up, but that doesn't seem as an option to me.

**If you come up with a PR providing solution 1, I'll merge it

[2022-10-07 23:05] rkoshak commented on #162
I'll see what I can come up with. It might be a couple of weeks though. I'm on travel next week so my spare time is short. I need to pick back up the rules docs too and there is a big PR on one of my other repos I need to reveiw. 😭

[2022-10-07 23:11] florian-h05 commented on #162
Maybe I'll come up with a PR earlier, but I also have some open PRs (one at your openhab-docs fork for the rule docs and one at your rules tools repo) to work on, so we'll see when this issue is fixed.

[2022-10-11 15:30] rkoshak opened #163 "[docs] Add libraries section under advanced topics"
With the addition of `openhab_rules_tools` to openHABian, I think we need to add a libraries section to the docs under Advanced. There we should explain how to properly create a personal library and install it in a way that npm won't delete it when updating packages. Otherwise I imagine some users will become unhappily surprised when their personal library gets wiped out when openHABian runs an up

[2022-10-13 13:47] florian-h05 commented on #163
That’s a good idea.

Creating a new folder for your personal library inside `node_modules` should work, right?

Editing files inside the folders of npm packages of course isn’t a good idea …

openHABian checks for updates and the runs `npm update <package-name>`, so openHABian should only modify the `openhab` and `openhab_rules_tools` folders.

[2022-10-13 14:01] rkoshak commented on #163
Nope. Well, it'll work until you run `npm update` at which point your module won't be in the .json file and `npm` will helpfully remove it.

It should but in practice this command too will delete stuff that isn't "installed". Even installing a new library will cause the non-installed modules to be removed.

To get around this, based on the best practices I could figure out, one needs to develop th

[2022-10-13 16:20] florian-h05 commented on #163
Okay, thanks for the information.
That‘s definitely something to add to the README.

[2022-10-15 14:54] BasvanH opened #164 "[actions] `get()` not working"
I've updated from 3.4.0M2 to latest snapshot openHAB 3.4.0 Build #3133

In UI rules I used to send a telegram message like so:
[code]

This worked on 3.4.0M2, in latest snapshot I get this error:
[code]

actions.get() no longer seems to be there, how can I send a telegram message?

Regards,
Bastiaan

[2022-10-15 22:32] florian-h05 commented on #164
That‘s quite interesting, seems like the problem is some openhab-js change from version 2.0.0 to 2.0.3.

I will take a look into this.

[2022-10-16 09:32] BasvanH commented on #164
@florian-h05, please let me know if I can test something for you.

[2022-10-16 12:14] florian-h05 commented on #164
@BasvanH
I‘ve tagged you in the PR with the fix and explained how to test, so please give it a try!

[2022-10-16 13:28] BasvanH commented on #164
Yes, after installing the update it works again. Thanks!

If this PR is merged, when will it reach the next snapshot?

[2022-10-16 13:38] florian-h05 commented on #164
Great 👍

I can merge on my own, but I'll wait a little bit if someone reviews.

After it has been merged, I can release a new version and open a PR on openhab-addons to use the new version in the JS Scripting addon.
I think this would take one or two days until it's in the milestone.

[2022-10-18 06:43] #164 closed

[2022-10-18 19:19] florian-h05 opened #166 "[dev] Extend tests"
Issue #164 and some other issues in the past occured, because a code change accidentally broke something.

To avoid this happening in the future, the tests should be extended in some way.

I see two options for this:
a) Extending the current unit tests at the `/tests` folder (I currently have no idea how they work).
b) Introducing end to end tests that verify the functionality of the library again

[2022-10-20 19:58] florian-h05 commented on #162
@rkoshak
I am working on implementing this now.
One thing I noticed is, that an `rawItem` attribute is already there, it is just not documented.

[2022-10-21 16:55] #162 closed

[2022-10-28 23:10] sfriedle commented on #166
Hello, my name is Stefan, I'm from Germany and I'm using openHAB a few years now (since 2014, if I recall correctly). In the last weeks, I've followed your activities about openhab-js and explored this code base. I think it is time for me to give something back to this great community :smiley:

Writing some tests seems to be a good approach to get involved. Personally I like unit tests, as they gi

[2022-10-29 08:55] florian-h05 commented on #166
Hello Stefan, thanks for your answer.
My name is Florian and I am using openHAB also for a few years for now (should be since 2017 or 2018).

If you’ve any questions about the codebase, please ask. I should be pretty familiar with the codebase.

Giving something back is always great! Thanks! All contributions are always welcome, no matters whether it’s actual code or docs improvements (you’ll see

[2022-10-30 15:03] florian-h05 opened #168 "Update library to addon changes"
- [x] Update NodeJS version (reference https://github.com/openhab/openhab-addons/pull/13582)
- [x] Reference https://github.com/openhab/openhab-addons/pull/13623#issuecomment-1296278660.

[2022-10-30 15:06] florian-h05 commented on #41
Closing as there has not been any activity for over six months and type definitions have been added to the library.

[2022-10-30 15:06] #41 closed

[2022-10-30 15:10] florian-h05 commented on #100
Transformation actions should be documented as they are available.

I wouldn't document actions whose functionality is implemented in our JS classes, so we should not document is separately.

[2022-11-06 15:41] #168 closed

[2022-11-07 22:33] JacekKac opened #170 "npm i openhab - all rules are not working after update"
after installing manuall (edit even reverting back to standard installation doesnt work anymore) npm i openhab in /etc/openhab/automation/js my rules stopped working:
[code]

[2022-11-08 08:13] florian-h05 commented on #170
Could you restart your openHAB? In my experience, openHAB sometimes requires one or two restarts after an upgrade to run without any problems.

Saying this, I can‘t reproduce the issue. Restarting my openHAB after the upgrade to 3.4.0.M4 resolved all issues with JS Scripting.

[2022-11-08 08:40] JacekKac commented on #170
i did it few times, nothing happened. Downgraded to 3.4.0M3 and everythink works fine

[2022-11-08 10:48] florian-h05 commented on #170
For me uninstalling and installing the addon again?
You can do this from the `Settings` -> `Automation` tab.
I’ve seen that you already tried this.

Could you try it with this approach:

1. Uninstall JS Scripting
2. Stop openHAB
3. Upgrade openHAB
4. Remove and reinstall the openhab library from NPM
5. Start openHAB

[2022-11-08 10:50] JacekKac commented on #170
i tried upgrading openhab on different host with almost the same settings, and it's ok not sure what whas the root of the problem, but for now i will sit downgraded version

[2022-11-08 11:53] florian-h05 commented on #170
Very weird.
I am not sure what’s the problem, the log message is now super helpful. As this is not reproducable and hence cannot be fixed, I’ll close the issue

[2022-11-08 11:53] #170 closed

[2022-11-13 23:56] sfriedle commented on #166
I saw that there are already a few tests written in Mocha. As these are only three tests at the moment, I started to use Jest to write the new ones. Personally I prefer Jest as testing framework, as the tests are straight forward and more readable, imho.

To distinguish between the existing and the new tests, I used the naming `*.spec.js` for the new ones, whereas the old ones still use `*.test.js

[2022-11-14 14:22] florian-h05 commented on #166
Unfortunately, no. I've never seen them in usage. As they do not work as their construction fails, but we haven't received any bug reports for them, I think that there is no one using them.
I would like to know what @jpg0 says regarding the providers, as he initially wrote the library.

[2022-11-14 15:00] jpg0 commented on #166
Some history: I added some tests a long time ago solely to verify pieces of logic that I thought warranted tests at the time. I used Mocha because it was a framework that I was familiar with.

As for the providers, I'm not sure of the state of it now, but the purpose of this class was to allow scripts to provider their own providers for openHAB. For example, all my things and items were defined in

[2022-11-14 16:34] florian-h05 commented on #166
Thanks for the explanation.

@sfriedle Feel free to remove the providers.

[2022-11-14 19:09] florian-h05 commented on #170
@JacekKac Thanks to some more error messages from other users, I was able to solve the issue.
See https://github.com/openhab/openhab-addons/pull/13714.

[2022-11-17 22:35] sfriedle commented on #166
I use standardx, as it is common here. But standardx uses ESLint under the hood. For my tests I had to mark the global `Java` as writable and had to enable the global `jest` object, which is provided by the Jest framework during test execution. Therefore I added the `.eslintrc` in the `test` folder.

[2022-11-21 07:26] dilyanpalauzov opened #174 "Difference between scriptLoaded and global initialization"
Openhab-JS can execute code, whenever script is loaded using the scriptLoaded() function.  Intialization can be done also as normal code.  Compare:
[code]
and
[code]
in both cases `x` will be initialized to 5.

Please describe the use case for `scriptLoaded()`, which is not covered by normal initilization in JavaScript files.

[2022-11-21 08:53] jpg0 commented on #174
Is `scriptLoaded` still supported? I believe that I removed it (as well as `scriptUnloaded`) because it's non-standard JS and, as you say, appears to have no difference to just inline code. @digitaldan did you add this back in?

[2022-11-21 09:01] dilyanpalauzov commented on #174
`scriptLoaded` is present at https://openhab.github.io/openhab-js/ and at https://github.com/openhab/openhab-js#initialization-hook-scriptloaded .  As far as I remember the purpose of `scriptUnloaded` was to cancel Java-Timers, otherwise they get leaked. Is this the right way to avoid timers leaking:
[code]
I am using OpenHAB 3.3.

[2022-11-21 09:09] jpg0 commented on #174
To hook into unloading, there is a lifecycle tracker: `lifecycleTracker.addDisposeHook(() => callSomething())`.

This was specifically designed to replace the `scriptUnloaded` functionality. But possibly this was retained too? Either way it looks like the docs need updating.

[2022-11-21 09:37] dilyanpalauzov commented on #174
In openHAB 3.3 `scriptLoaded()` is executed, once the script is loaded, after the rules from the javascript file are loaded and the system logs “Adding rule:”.

[2022-11-21 09:41] Dopeyr commented on #174
Wondering if this is UI rules vs filesystem rules: https://github.com/openhab/openhab-core/issues/2173

Maybe `scriptUnloaded()` only works with Filesystem rules?

[2022-11-21 09:42] dilyanpalauzov commented on #174
For me it is still unclear whether the purpose of `scriptUnloaded()` is to reset Java-TImers, both in UI-rules and in filesystem rules.

[2022-11-24 14:19] dilyanpalauzov opened #176 "Error `java.lang.IllegalArgumentException: Invalid type '{com.oracle.truffle.polyglot.PolyglotMap}' of configuration value!` does not show its location in the .js file"
When I create a JS rule as in
[code]
and the elements of my_array are Items (not strings), openHAB 3.3 logs:

The error disappears once I pass to triggers.ItemStateChangeTrigger() a string.

The error message
2022-11-24 09:58:11.273 [ERROR] [ipt.internal.ScriptEngineManagerImpl] - Error during evaluation of script 'file:/etc/openhab/automation/js/zz.js': java.lang.IllegalArgumentException: Invalid

[2022-11-25 21:49] florian-h05 commented on #174
`scriptLoaded` and `scriptUnloaded` are not provided by the addon, they are from core:

- https://github.com/openhab/openhab-core/blob/main/bundles/org.openhab.core.automation.module.script/src/main/java/org/openhab/core/automation/module/script/internal/ScriptEngineManagerImpl.java#L193
- https://github.com/openhab/openhab-core/blob/main/bundles/org.openhab.core.automation.module.script/src/main/

[2022-11-25 21:54] florian-h05 commented on #174
I‘v also checked which of the hooks works where:

- `scriptLoaded`: seems to work for file-based scripts only
- `scriptUnloaded`: seems to work for both UI and file-based
- `lifecycleTracker` dispose hook: seems to work for both

[2022-11-25 21:58] florian-h05 commented on #174
This is the most common use case for dispose/unload hooks I can think of. If you create timers using `createTimer`, you should do some sort of management, otherwise you can end up with unmanageable timers running until the next openHAB restart. If you use `setTimout` or `setInterval` for creating a timer, the timers are automatically cancelled when the script is unloaded.

[2022-11-25 22:04] florian-h05 commented on #176
The problem why there is no stack trace in this case, is that the error occurs in the Java layer of openHAB and only the message of the exception is logged.

To solve this, we have two options:
- Do some type checking in openhab-js to avoid passing wrong types to the Java layer
- Update the Java layer (https://github.com/openhab/openhab-core/blob/0ba4de359432aee8cdbdbdb510e554539bc33e79/bundles/or

[2022-11-26 06:35] dilyanpalauzov commented on #176
`triggers.ItemStateChangeTrigger()` could be extended to accept an Item object as parameter, in addition to string.

[2022-11-26 11:34] jpg0 commented on #176
@florian-h05 I believe that the policy for the Java layer is that stack traces are not logged, except for unanticipated errors within openHAB, indicating that a core fix is required. @kaikreuzer would be able to confirm this.

[2022-11-26 13:29] florian-h05 commented on #176
Okay, but I am wondering if we could have an exception from this policy here, because the logged message clearly says that it is a script problem (`Error during evaluation of script 'file:/etc/openhab/automation/js/zz.js'`) and the stack trace should show that the root cause of the exception is inside the script file.

If we can't, what would be your proposal to avoid such problems? I've also enco

[2022-11-26 16:07] florian-h05 commented on #174
I would remove `scriptLoaded` and `scriptUnloaded` from the docs (we cannot avoid that they are used, as they are from core) and instead of them document the lifecycleTracker.

@jpg0 Do you agree?

[2022-11-26 16:43] jpg0 commented on #174
Yes, sounds good to me

[2022-11-27 09:38] florian-h05 commented on #176
I‘ve modified the add-on to print the stack trace, but seems like the stack trace doesn‘t help in this case:

<details>
<summary>Stack trace</summary>

[code]
</details>

I can not find any reference to the script in the stack trace.

So seems like we should add type checks to openhab-js.

[2022-11-27 10:06] dilyanpalauzov commented on #176
Please permit to `triggers.ItemStateChangeTrigger()` to accept in addition to string also an Item object.

[2022-11-27 11:45] #163 closed

[2022-11-28 09:39] #174 closed